@page
@model StoreMMO.Web.Pages.Account.ProfileModel
@{
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:17 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Porto - Bootstrap eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="~/assets/images/icons/favicon.png">
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

	<!-- jQuery và DataTables JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


	<script>
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
		};
		( function ( d ) {
			var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
			wf.src = '~/assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore( wf, s );
		} )( document );
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="~/assets/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body>
	<div class="page-wrapper">
		<div class="top-notice bg-primary text-white">
			<div class="container text-center">
				<h5 class="d-inline-block">Get Up to <b>40% OFF</b> New-Season Styles</h5>
				<a href="category.html" class="category">MEN</a>
				<a href="category.html" class="category ml-2 mr-3">WOMEN</a>
				<small>* Limited time only.</small>
				<button title="Close (Esc)" type="button" class="mfp-close">×</button>
			</div><!-- End .container -->
		</div><!-- End .top-notice -->
		<partial name="_Header" />
		@* <header class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-left d-none d-sm-block">
						<p class="top-message text-uppercase">FREE Returns. Standard Shipping Orders $99+</p>
					</div><!-- End .header-left -->

					<div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
						<div class="header-dropdown dropdown-expanded d-none d-lg-block">
							<a href="#">Links</a>
							<div class="header-menu">
								<ul>
									<li><a href="dashboard.html">My Account</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="wishlist.html">My Wishlist</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="login.html" class="login-link">Log In</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<span class="separator"></span>

						<div class="header-dropdown">
							<a href="#"><i class="flag-us flag"></i>ENG</a>
							<div class="header-menu">
								<ul>
									<li><a href="#"><i class="flag-us flag mr-2"></i>ENG</a>
									</li>
									<li><a href="#"><i class="flag-fr flag mr-2"></i>FRA</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
							<a href="#">USD</a>
							<div class="header-menu">
								<ul>
									<li><a href="#">EUR</a></li>
									<li><a href="#">USD</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<span class="separator"></span>

						<div class="social-icons">
							<a href="#" class="social-icon social-facebook icon-facebook" target="_blank"></a>
							<a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
							<a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
						</div><!-- End .social-icons -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-top --> *@

	@* 		<div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
				<div class="container">
					<div class="header-left col-lg-2 w-auto pl-0">
						<button class="mobile-menu-toggler text-primary mr-2" type="button">
							<i class="fas fa-bars"></i>
						</button>
						<a href="demo4.html" class="logo">
							<img src="~/assets/images/logo.png" width="111" height="44" alt="Porto Logo">
						</a>
					</div><!-- End .header-left -->

					<div class="header-right w-lg-max">
						<div
							class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
							<a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
							<form action="#" method="get">
								<div class="header-search-wrapper">
									<input type="search" class="form-control" name="q" id="q" placeholder="Search..."
										required>
									<div class="select-custom">
										<select id="cat" name="cat">
											<option value="">All Categories</option>
											<option value="4">Fashion</option>
											<option value="12">- Women</option>
											<option value="13">- Men</option>
											<option value="66">- Jewellery</option>
											<option value="67">- Kids Fashion</option>
											<option value="5">Electronics</option>
											<option value="21">- Smart TVs</option>
											<option value="22">- Cameras</option>
											<option value="63">- Games</option>
											<option value="7">Home &amp; Garden</option>
											<option value="11">Motors</option>
											<option value="31">- Cars and Trucks</option>
											<option value="32">- Motorcycles &amp; Powersports</option>
											<option value="33">- Parts &amp; Accessories</option>
											<option value="34">- Boats</option>
											<option value="57">- Auto Tools &amp; Supplies</option>
										</select>
									</div><!-- End .select-custom -->
									<button class="btn icon-magnifier p-0" type="submit"></button>
								</div><!-- End .header-search-wrapper -->
							</form>
						</div><!-- End .header-search -->

						<div class="header-contact d-none d-lg-flex pl-4 pr-4">
							<img alt="phone" src="~/assets/images/phone.png" width="30" height="30" class="pb-1">
							<h6><span>Call us now</span><a href="tel:#" class="text-dark font1">+123 5678 890</a></h6>
						</div>

						<a href="login.html" class="header-icon" title="login"><i class="icon-user-2"></i></a>

						<a href="wishlist.html" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

						<div class="dropdown cart-dropdown">
							<a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
								<i class="minicart-icon"></i>
								<span class="cart-count badge-circle">3</span>
							</a>


							<div class="cart-overlay"></div>

							<div class="dropdown-menu mobile-cart">
								<a href="#" title="Close (Esc)" class="btn-close">×</a>

								<div class="dropdownmenu-wrapper custom-scrollbar">
									<div class="dropdown-cart-header">Shopping Cart</div>
									<!-- End .dropdown-cart-header -->

									<div class="dropdown-cart-products">
										<div class="product">
											<div class="product-details">
												<h4 class="product-title">
													<a href="product.html">Ultimate 3D Bluetooth Speaker</a>
												</h4>

												<span class="cart-product-info">
													<span class="cart-product-qty">1</span>
													× $99.00
												</span>
											</div><!-- End .product-details -->

											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img src="~/assets/images/products/product-1.jpg" alt="product"
														width="80" height="80">
												</a>

												<a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
											</figure>
										</div><!-- End .product -->

										<div class="product">
											<div class="product-details">
												<h4 class="product-title">
													<a href="product.html">Brown Women Casual HandBag</a>
												</h4>

												<span class="cart-product-info">
													<span class="cart-product-qty">1</span>
													× $35.00
												</span>
											</div><!-- End .product-details -->

											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img src="~/assets/images/products/product-2.jpg" alt="product"
														width="80" height="80">
												</a>

												<a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
											</figure>
										</div><!-- End .product -->

										<div class="product">
											<div class="product-details">
												<h4 class="product-title">
													<a href="product.html">Circled Ultimate 3D Speaker</a>
												</h4>

												<span class="cart-product-info">
													<span class="cart-product-qty">1</span>
													× $35.00
												</span>
											</div><!-- End .product-details -->

											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img src="~/assets/images/products/product-3.jpg" alt="product"
														width="80" height="80">
												</a>
												<a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
											</figure>
										</div><!-- End .product -->
									</div><!-- End .cart-product -->

									<div class="dropdown-cart-total">
										<span>SUBTOTAL:</span>

										<span class="cart-total-price float-right">$134.00</span>
									</div><!-- End .dropdown-cart-total -->

									<div class="dropdown-cart-action">
										<a href="cart.html" class="btn btn-gray btn-block view-cart">View
											Cart</a>
										<a href="checkout.html" class="btn btn-dark btn-block">Checkout</a>
									</div><!-- End .dropdown-cart-total -->
								</div><!-- End .dropdownmenu-wrapper -->
							</div><!-- End .dropdown-menu -->
						</div><!-- End .dropdown -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div> *@

		@* 	<div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
				<div class="container">
					<nav class="main-nav w-100">
						<ul class="menu">
							<li>
								<a href="demo4.html">Home</a>
							</li>
							<li>
								<a href="category.html">Categories</a>
								<div class="megamenu megamenu-fixed-width megamenu-3cols">
									<div class="row">
										<div class="col-lg-4">
											<a href="#" class="nolink">VARIATION 1</a>
											<ul class="submenu">
												<li><a href="category.html">Fullwidth Banner</a></li>
												<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a>
												</li>
												<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a>
												</li>
												<li><a href="category.html">Left Sidebar</a></li>
												<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
												<li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
												<li><a href="category-horizontal-filter1.html">Horizontal Filter1</a>
												</li>
												<li><a href="category-horizontal-filter2.html">Horizontal Filter2</a>
												</li>
											</ul>
										</div>
										<div class="col-lg-4">
											<a href="#" class="nolink">VARIATION 2</a>
											<ul class="submenu">
												<li><a href="category-list.html">List Types</a></li>
												<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a>
												</li>
												<li><a href="category.html">3 Columns Products</a></li>
												<li><a href="category-4col.html">4 Columns Products</a></li>
												<li><a href="category-5col.html">5 Columns Products</a></li>
												<li><a href="category-6col.html">6 Columns Products</a></li>
												<li><a href="category-7col.html">7 Columns Products</a></li>
												<li><a href="category-8col.html">8 Columns Products</a></li>
											</ul>
										</div>
										<div class="col-lg-4 p-0">
											<div class="menu-banner">
												<figure>
													<img src="~/assets/images/menu-banner.jpg" width="192" height="313"
														alt="Menu banner">
												</figure>
												<div class="banner-content">
													<h4>
														<span class="">UP TO</span><br />
														<b class="">50%</b>
														<i>OFF</i>
													</h4>
													<a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End .megamenu -->
							</li>
							<li>
								<a href="product.html">Products</a>
								<div class="megamenu megamenu-fixed-width">
									<div class="row">
										<div class="col-lg-4">
											<a href="#" class="nolink">PRODUCT PAGES</a>
											<ul class="submenu">
												<li><a href="product.html">SIMPLE PRODUCT</a></li>
												<li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
												<li><a href="product.html">SALE PRODUCT</a></li>
												<li><a href="product.html">FEATURED & ON SALE</a></li>
												<li><a href="product-custom-tab.html">WITH CUSTOM TAB</a></li>
												<li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
												<li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
												<li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
											</ul>
										</div><!-- End .col-lg-4 -->

										<div class="col-lg-4">
											<a href="#" class="nolink">PRODUCT LAYOUTS</a>
											<ul class="submenu">
												<li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
												<li><a href="product-grid-layout.html">GRID IMAGE</a></li>
												<li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
												<li><a href="product-sticky-info.html">STICKY INFO</a></li>
												<li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
												<li><a href="product-transparent-image.html">TRANSPARENT IMAGE</a></li>
												<li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
												<li><a href="#">BUILD YOUR OWN</a></li>
											</ul>
										</div><!-- End .col-lg-4 -->

										<div class="col-lg-4 p-0">
											<div class="menu-banner menu-banner-2">
												<figure>
													<img src="~/assets/images/menu-banner-1.jpg" width="182" height="317"
														alt="Menu banner" class="product-promo">
												</figure>
												<i>OFF</i>
												<div class="banner-content">
													<h4>
														<span class="">UP TO</span><br />
														<b class="">50%</b>
													</h4>
												</div>
												<a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
											</div>
										</div><!-- End .col-lg-4 -->
									</div><!-- End .row -->
								</div><!-- End .megamenu -->
							</li>
							<li class="active">
								<a href="#">Pages</a>
								<ul>
									<li><a href="wishlist.html">Wishlist</a></li>
									<li><a href="cart.html">Shopping Cart</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="dashboard.html">Dashboard</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="#">Blog</a>
										<ul>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="single.html">Blog Post</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li><a href="blog.html">Blog</a></li>
							<li>
								<a href="#">Elements</a>
								<ul class="custom-scrollbar">
									<li><a href="element-accordions.html">Accordion</a></li>
									<li><a href="element-alerts.html">Alerts</a></li>
									<li><a href="element-animations.html">Animations</a></li>
									<li><a href="element-banners.html">Banners</a></li>
									<li><a href="element-buttons.html">Buttons</a></li>
									<li><a href="element-call-to-action.html">Call to Action</a></li>
									<li><a href="element-countdown.html">Count Down</a></li>
									<li><a href="element-counters.html">Counters</a></li>
									<li><a href="element-headings.html">Headings</a></li>
									<li><a href="element-icons.html">Icons</a></li>
									<li><a href="element-info-box.html">Info box</a></li>
									<li><a href="element-posts.html">Posts</a></li>
									<li><a href="element-products.html">Products</a></li>
									<li><a href="element-product-categories.html">Product Categories</a></li>
									<li><a href="element-tabs.html">Tabs</a></li>
									<li><a href="element-testimonial.html">Testimonials</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact Us</a></li>
							<li class="float-right"><a href="https://1.envato.market/DdLk5" class="pl-5"
									target="_blank">Buy Porto!</a></li>
							<li class="float-right"><a href="#" class="pl-5">Special Offer!</a></li>
						</ul>
					</nav>
				</div><!-- End .container -->
			</div><!-- End .header-bottom --> *@
		</header><!-- End .header -->

		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
								<li class="breadcrumb-item"><a href="category.html">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</nav>

					<h1>My Account</h1>
				</div>
			</div>

			<div class="container account-container custom-account-container">
				<div class="row">
					<div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
						<h2 class="text-uppercase">My Account</h2>
						<ul class="nav nav-tabs list flex-column mb-0" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard"
									role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab"
									aria-controls="order" aria-selected="true">Orders</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="download-tab" data-toggle="tab" href="#download" role="tab"
									aria-controls="download" aria-selected="false">Balance:
								 <span style="margin-left:5px">
										<i class="fas fa-coins"></i>
									 
									 
									   @Model.Balance</span>
								</a>
									
							</li>

							
							<li class="nav-item" style="display:none">
								<a class="nav-link" id="OrderDetail-tab" data-toggle="tab" href="#OrderDetail" role="tab"
								   aria-controls="edit" aria-selected="false">
									Account
									details
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab"
									aria-controls="edit" aria-selected="false">Account
									details</a>
							</li>
							<li class="nav-item">
								@if (ViewData["IsSellerRole"] as bool? == true)
								{
									<!-- Hiển thị link "Management Seller" nếu người dùng là Seller -->
<a class="nav-link" asp-page="/Seller/Index" asp-route-userId="@HttpContext.Session.GetString("UserID")">
    Management Seller
</a>								}
								else
								{
									<!-- Hiển thị link "Register Seller" nếu người dùng chưa phải là Seller -->
									<a class="nav-link" id="shop-address-tab" data-toggle="tab" href="#shipping" role="tab"
									   aria-controls="edit" aria-selected="false">Register Seller</a>
								}
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wishlist/view">Wishlist</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Logout</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-9 order-lg-last order-1 tab-content">
						<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
							<div class="dashboard-content">
							
								<div class="mb-4"></div>

								<div class="row row-lg">
									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="#order" class="link-to-tab"><i
													class="sicon-social-dropbox"></i></a>
											<div class="feature-box-content">
												<h3>ORDERS</h3>
											</div>
										</div>
									</div>

									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="#download" class="link-to-tab"><i
													class="sicon-cloud-download"></i></a>
											<div class=" feature-box-content">
												<h3>Balance</h3>
											</div>
										</div>
									</div>

									

									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="#edit" class="link-to-tab"><i class="icon-user-2"></i></a>
											<div class="feature-box-content p-0">
												<h3>ACCOUNT DETAILS</h3>
											</div>
										</div>
									</div>

									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="/wishlist/view"><i class="sicon-heart"></i></a>
											<div class="feature-box-content">
												<h3>WISHLIST</h3>
											</div>
										</div>
									</div>

									<div class="col-6 col-md-4">
										<div class="feature-box text-center pb-4">
											<a href="@Url.Page("/account/Profile", "Logout")"><i class="sicon-logout"></i></a>
											<div class="feature-box-content">
												<h3>LOGOUT</h3>
											</div>
										</div>
									</div>
								</div><!-- End .row -->
							</div>
						</div><!-- End .tab-pane -->
						<div class="tab-pane fade" id="order" role="tabpanel">
							<div class="order-content">
								<h3 class="account-sub-title d-none d-md-block">
									<i class="sicon-social-dropbox align-middle mr-3"></i>
									
								</h3>

								<div class="order-table-container text-center">
									<!-- Ô tìm kiếm -->
									<div>
										<label style="float:left" for="rowsPerPage">Rows per page:</label>
										<select style="float:left" id="rowsPerPage" onchange="updateTable()">
											<option value="5">5</option>
											<option value="15">15</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
										<input style="float:right" type="text" id="searchInput" onkeyup="filterTable()" placeholder="Search for descriptions...">
									</div>

									<!-- Bảng hiển thị dữ liệu -->
									<table id="transactionTable" class="table table-order text-left">
										<thead>
											<tr>
												<th onclick="sortTable(0)">NO.</th>
												<th onclick="sortTable(1)">OrderCode</th>
												<th onclick="sortTable(2)">Date</th>
												<th onclick="sortTable(3)">Store Name</th>
												<th onclick="sortTable(4)">Product Type</th>
												<th onclick="sortTable(5)">Seller</th>
												<th onclick="sortTable(6)">Quantity</th>
												<th onclick="sortTable(7)">Total Price</th>
												<th onclick="sortTable(8)">Status</th>
												<th>ACTIONS</th>
												<th>Feedback</th>
											</tr>
										</thead>
										<tbody id="tableBody">

											@* 						@for (var item = 0; item < 20; item++)
											{
											<tr>
											<td>@item</td>
											<td>2024-10-20</td>
											<td>$100</td>
											<td>Deposit</td>
											<td>Completed</td>
											<td>Some description @item</td>
											<td><button class="btn btn-primary">View</button></td>
											</tr>
											} *@

											@if (Model.InfOrderUser != null && Model.InfOrderUser.Count() > 0)
											{
												var count = 1;
												@foreach (var item in Model.InfOrderUser)
												{
													<tr>
														<td>@count</td>
														<td>@item.OrderCode</td>
														<td>@item.OrderDate</td>
														<td>@item.StoreName</td>
														<td>@item.ProName</td>
														<td><a href="/home/viewaccountdetail?username=@item.Seller">@item.Seller</a></td>
														<td>@item.Quantity</td>
														<td>@item.TotalPrice</td>
														<td>PAID</td> <!-- Luôn hiển thị "PAID" ở cột trạng thái -->
														<td>
															<button onclick="ViewDetail('@item.OrderID')" class="btn btn-outline-primary btn-xs">View Details</button>
														</td>
														<input  hidden type="text" id="orderIDsave" value="@item.OrderID"/>
														<td>
															@if (item.Status == "PAID/no")
															{
																<button id="row-@item.OrderID" class="btn btn-outline-primary btn-xs" data-bs-toggle="modal" onclick="sendfedd('@item.OrderID')" data-bs-target="#feedbackModal">Send Feedback</button>

															}
														</td>
													</tr>
													count++;
												}
											}
											else
											{
												<tr>
													<td class="text-center p-0" colspan="11">
														<p class="mb-5 mt-5">
															No Order has been made yet.
														</p>
													</td>
												</tr>
											}


											<!-- Add more rows as needed -->
										</tbody>
									</table>

									<!-- Phân trang và chọn số hàng hiển thị -->
									<div style="padding-top:10px" class="pagination-container">

										<div id="pagination"></div>
									</div>
								</div>
							</div>
						</div>



						<div class="tab-pane fade" id="OrderDetail" role="tabpanel">
							<div class="order-content">
								<h3 class="account-sub-title d-none d-md-block">
									<i class="sicon-social-dropbox align-middle mr-3"></i>
								
								</h3>
								<button class="btn btn-outline-primary btn-lg" onclick="BackOrder()">Back To Order</button>
								<div id="orderDetailContainer" class="order-table-container text-center">
									<!-- Nội dung chi tiết đơn hàng sẽ được tải về qua AJAX -->
									<p>Select an order to view details.</p>
								</div>
								
							</div>
						</div>



		<div class="tab-pane fade" id="download" role="tabpanel">
        <div class="order-content">
            <h3 class="account-sub-title d-none d-md-block">
                <i class="sicon-social-dropbox align-middle mr-3"></i>
									<button onclick="thanh()" class="btn btn-outline-primary btn-lg">Deposit</button>
									<button class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#withdrawModal">Withdraw</button>
            </h3>
	<script>
									function thanh() {

										Swal.fire({
											title: "Enter Amount to Deposit",
											input: "number",
											inputAttributes: {
												min: 1,
												placeholder: "Enter amount"
											},
											showCancelButton: true,
											confirmButtonText: "Deposit",
											showLoaderOnConfirm: true,
											preConfirm: (amount) => {
												if (!amount) {
													Swal.showValidationMessage("Please enter an amount.");
													return false;
												}

												const parsedAmount = Number(amount);
												if (isNaN(parsedAmount) || parsedAmount <= 0) {
													Swal.showValidationMessage("Please enter a valid amount greater than zero.");
													return false;
												}

												return new Promise((resolve, reject) => {
													$.ajax({
														type: "POST",
														url: "/account/Profile?handler=SendDepo",
														beforeSend: function (xhr) {
															xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
														},
														data: { amount: 10000 },
														contentType: "application/json",
														dataType: "json",
														success: function (data) {
															if (data.success) {
																// Nếu gửi tiền thành công
																Swal.fire({
																	icon: 'success',
																	title: 'Your deposit request was successful!',
																	text: 'We will redirect you to the deposit page.',
																	confirmButtonText: 'OK'
																}).then(() => {
																	
																		window.location.href = data.url;
																	
																});
																resolve();
															} else {
																Swal.showValidationMessage(data.message || "Deposit failed. Please try again.");
																reject();
															}
														},
														error: function (error) {
															console.error("Error occurred:", error);
															Swal.showValidationMessage("Request failed.");
															reject();
														}
													});
												});
											}
										});
		}

		</script>
            <div class="order-table-container text-center">
                <!-- Ô tìm kiếm -->
               <div>
				     <label style="float:left" for="rowsPerPage">Rows per page:</label>
                        <select  style="float:left"  id="rowsPerPage" onchange="updateTable()">
                            <option value="5">5</option>
                            <option value="15">15</option>
								<option value="25">25</option>
								<option value="50">50</option>
                            <option value="100">100</option>
                        </select>
				    <input  style="float:right" type="text" id="searchInput" onkeyup="filterTable()" placeholder="Search for descriptions...">
			   </div>

                <!-- Bảng hiển thị dữ liệu -->
                <table id="transactionTable" class="table table-order text-left">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">NO.</th>
                            <th onclick="sortTable(1)">DATE</th>
                            <th onclick="sortTable(2)">AMOUNT</th>
                            <th onclick="sortTable(3)">TYPE</th>
                            <th onclick="sortTable(4)">STATUS</th>
                            <th onclick="sortTable(5)">Description</th>
                           
                        </tr>
                    </thead>
                    <tbody id="tableBody">

 
											@if (Model.InfoBalance != null && Model.InfoBalance.Count() > 0)
											{
												var count = 1;
												foreach (var item in Model.InfoBalance)
												{
													<tr>
														<td>@count</td>
														<td>@item.TransactionDate</td>
														<td>@item.Amount</td>
														<td>@item.TransactionType</td>
														<td> <button class="btn btn-outline-primary btn-xs">@item.Status</button></td>
														@{
															// Lấy giá trị của item.Description
															var description = item.Description;

															if (!string.IsNullOrEmpty(description)) // Kiểm tra nếu description không phải null và không rỗng
															{
																var ampersandIndex = description.IndexOf("&");

																// Nếu có ký tự '&', chỉ hiển thị phần trước nó
																if (ampersandIndex >= 0)
																{
																	description = description.Substring(0, ampersandIndex);
																}
															}
															else
															{
																description = ""; // Hoặc thiết lập một giá trị mặc định nếu description là null
															}
														}

														<td>@Html.Raw(description)</td>


														
													</tr>
													count++;
												}
											}
											else
											{
												<tr>
													<td class="text-center p-0" colspan="7">
														<p class="mb-5 mt-5">
															No Balance has been made yet.
														</p>
													</td>
												</tr>
											}


                        <!-- Add more rows as needed -->
                    </tbody>
                </table>

                <!-- Phân trang và chọn số hàng hiển thị -->
                <div style="padding-top:10px" class="pagination-container">
                    
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>

						<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title w-100 text-center">Feedback for Order No. <span id="order-No"></span></h5>
									</div>
									<div class="modal-body">
										<form>
											<!-- Lựa chọn số sao -->
											<div class="mb-3">
												<label class="col-form-label">Rating:</label>
												<div id="starRating">
													<i class="fa fa-star star" data-value="1" onclick="setRating(1)"></i>
													<i class="fa fa-star star" data-value="2" onclick="setRating(2)"></i>
													<i class="fa fa-star star" data-value="3" onclick="setRating(3)"></i>
													<i class="fa fa-star star" data-value="4" onclick="setRating(4)"></i>
													<i class="fa fa-star star" data-value="5" onclick="setRating(5)"></i>
												</div>
												<div id="ratingError" class="text-danger" style="display: none;">Please select a rating.</div>
											</div>
											<input type="text" hidden id="saveModelOrder" />

											<!-- Nội dung phản hồi -->
											<div class="mb-4">
												<label for="feedbackContent" class="col-form-label">Feedback Message:</label>
												<textarea class="form-control" id="feedbackContent" placeholder="Enter your feedback here"></textarea>
												<div id="feedbackContentError" class="text-danger" style="display: none;">Please enter your feedback message.</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary btn-md" data-bs-dismiss="modal">Close</button>
										<button type="button" onclick="submitFeedback()" class="btn btn-outline-primary btn-md">Submit Feedback</button>
									</div>
								</div>
							</div>
						</div>


						<!-- CSS cho các ngôi sao -->
						<style>
							.star {
								font-size: 24px;
								color: gray;
								cursor: pointer;
							}

								.star.selected {
									color: gold;
								}
						</style>

						<!-- JavaScript cho chức năng đánh giá và gửi feedback -->
						<script>
							function sendfedd(ordder){
								console.log(ordder);
								$('#saveModelOrder').val(ordder);
							}





							let rating = 0;

							// Đánh dấu số sao đã chọn
							function setRating(value) {
								rating = value;
								const stars = document.querySelectorAll('#starRating .star');
								stars.forEach((star, index) => {
									if (index < rating) {
										star.classList.add('selected');
									} else {
										star.classList.remove('selected');
									}
								});
							}

							
							function submitFeedback() {
								const feedbackContent = document.getElementById('feedbackContent').value;
								const orderID = document.getElementById('saveModelOrder').value;
								let hasError = false;

								// Kiểm tra nếu không chọn số sao
								if (rating === 0) {
									document.getElementById("ratingError").style.display = "block";
									hasError = true;
								} else {
									document.getElementById("ratingError").style.display = "none";
								}

								// Kiểm tra nếu không nhập nội dung phản hồi
								if (!feedbackContent) {
									document.getElementById("feedbackContentError").style.display = "block";
									hasError = true;
								} else {
									document.getElementById("feedbackContentError").style.display = "none";
								}

								// Nếu có lỗi thì dừng lại không gửi
								if (hasError) return;

								// Gửi feedback qua AJAX
								$.ajax({
									type: "POST",
									url: "/account/Profile?handler=SendFeedback",
									beforeSend: function (xhr) {
							
										xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
									},
									data: {
										orderID: orderID,
										rating: rating,
										feedbackContent: feedbackContent
									},
									success: function (response) {
										if (response.success) {
											Swal.fire({
												title: "Congatulation",
												text: 'You sent Report Successfully',
												icon: "success",
												confirmButtonColor: "#3085d6",
												confirmButtonText: "OK",
												allowOutsideClick: true
											}).then((result) => {
												if (result.isConfirmed) {

													$('#row-' + orderID).remove();
													$('#feedbackModal').modal('hide');
													$('.modal-backdrop').remove();
												}
											}).finally(() => {

												$('#row-' + orderID).remove();
												$('#feedbackModal').modal('hide');
												$('.modal-backdrop').remove();
											});
										} else {
											alert("An error occurred while submitting your feedback.");
										}
									},
									error: function () {
										alert("An error occurred. Please try again later.");
									}
								});
							}
						</script>



						<div class="modal fade" id="withDrawModel" tabindex="-1" aria-labelledby="withDrawModel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title w-100 text-center">Report The Order:  No.<span id="order-No"></span></h5>

										@* 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
									</div>
									<div class="modal-body">
										<form>

											<div class="mb-2">
												<div class="row">
													<div class="col">
														<label for="account-name" class="col-form-label">Account:</label>
														<input readonly type="text" class="form-control" id="account-name">
													</div>
													<div class="col">
														<label for="password" class="col-form-label">Password:</label>
														<input type="text" readonly class="form-control" id="password">
													</div>
												</div>
											</div>
											<div class="mb-2">
												<div class="row">
													<div class="col">
														<label for="price" class="col-form-label">Price:</label>
														<input type="text" readonly class="form-control" id="price">
													</div>
													<div class="col">
														<label for="order-date" class="col-form-label">Order Days:</label>
														<input type="date" class="form-control" id="order-date" readonly>
													</div>
												</div>
											</div>
											<div class="mb-4">
												<label for="message-text" class="col-form-label">Message:</label>
												<textarea class="form-control" id="message-text"></textarea>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary btn-md" data-bs-dismiss="modal">Close</button>
										<button type="button" onclick="SendMess()" class="btn btn-outline-primary btn-md">Submit Report</button>

									</div>
								</div>
							</div>
						</div>



						<!-- Modal -->
						<div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-center">Form Rút Tiền</h5>
										
									</div>

									<div class="modal-body">
										<div class="mb-2">
											<label for="accountNumber" class="col-form-label">Account Number:</label>
											<input type="text" class="form-control form-control-sm" id="accountNumber" required>
										</div>
										<div class="mb-2">
											<label for="bank" class="col-form-label">Bank:</label>
											<select class="form-control form-control-sm" id="bank" asp-for="input.Bank" required>
												<option value="">Select bank</option>
											</select>
										</div>
										<div class="mb-2">
											<label for="accountName" class="col-form-label">Account Name:</label>
											<input type="text" class="form-control form-control-sm" id="accountName" required>
										</div>
										<div class="mb-2">
											<label for="withdrawAmount" class="col-form-label">Amount:</label>
											<input type="number" asp-for="input.WithdrawAmount" class="form-control form-control-sm" id="withdrawAmount" min="0" required>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary btn-md" data-bs-dismiss="modal">Close</button>
										<button onclick="SendWith()" class="btn btn-outline-primary btn-md">Submit</button>
									</div>

									

								</div>
							</div>
						</div>
						
						<!-- Bootstrap Bundle with Popper -->
						<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
						<script>
							// Lấy danh sách ngân hàng từ API và đổ vào dropdown
							document.addEventListener("DOMContentLoaded", function () {
								fetch('https://api.vietqr.io/v2/banks')
									.then(response => response.json())
									.then(data => {
										const bankSelect = document.getElementById("bank");
										bankSelect.innerHTML = '<option value="">Chọn ngân hàng</option>';
										data.data.forEach(bank => {
											const option = document.createElement("option");
											option.value = bank.code; // Sử dụng code từ API làm value
											option.text = bank.shortName +" - "+ bank.name;   // Hiển thị tên ngân hàng
											bankSelect.appendChild(option);
										});
									})
									.catch(error => {
										console.error("Lỗi khi lấy danh sách ngân hàng:", error);
										document.getElementById("bank").innerHTML = '<option value="">Không thể tải danh sách ngân hàng</option>';
									});
							});

							function SendWith() {
								// Xóa thông báo lỗi cũ
								$(".error-message").remove();

								$.ajax({
									type: "POST",
									url: "/account/Profile?handler=Withdraw",
									beforeSend: function (xhr) {
										xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
									},
									data: {
										number: $('#accountNumber').val(),
										bank: $('#bank').val(),
										accountname: $('#accountName').val(),
										amount: $('#withdrawAmount').val(),
										mess: "500",
									},
									dataType: "json",
									success: function (data) {
										if (data.success) {
											Swal.fire({
												title: "Congatulation",
												text: 'You sent Report Successfully',
												icon: "success",
												confirmButtonColor: "#3085d6",
												confirmButtonText: "OK",
												allowOutsideClick: true
											}).then((result) => {
												if (result.isConfirmed) {
													$('.modal-backdrop').remove();
													$('#withdrawModal').modal('hide');
												}
											}).finally(() => {
												$('.modal-backdrop').remove();
												$('#withdrawModal').modal('hide');
											});
										} else {
											// Hiển thị lỗi dưới các thẻ nhập liệu
											let errorMessage = `<div class="error-message text-danger">${data.message}</div>`;

											if (data.message.includes("Account number")) {
												$('#accountNumber').after(errorMessage);
											} else if (data.message.includes("Bank")) {
												$('#bank').after(errorMessage);
											} else if (data.message.includes("Account name")) {
												$('#accountName').after(errorMessage);
											} else if (data.message.includes("Amount")) {
												$('#withdrawAmount').after(errorMessage);
											}

										}
									},
									error: function (error) {
										console.error("Error occurred:", error);
									}
								});
							}
s




						
						</script>

						






							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title w-100 text-center">Report The Order:  No.<span id="order-No"></span></h5>

										@* 	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
										</div>
										<div class="modal-body">
											<form>
											
												<div class="mb-2">
													<div class="row">
														<div class="col">
															<label for="account-name" class="col-form-label">Account:</label>
															<input readonly type="text" class="form-control" id="account-name">
														</div>
														<div class="col">
															<label for="password" class="col-form-label">Password:</label>
															<input type="text" readonly class="form-control" id="password">
														</div>
													</div>
												</div>
												<div class="mb-2">
													<div class="row">
														<div class="col">
															<label for="price" class="col-form-label">Price:</label>
															<input type="text" readonly class="form-control" id="price">
														</div>
														<div class="col">
															<label for="order-date" class="col-form-label">Order Days:</label>
															<input type="date" class="form-control" id="order-date" readonly>
														</div>
													</div>
												</div>
												<div class="mb-4">
													<label for="message-text" class="col-form-label">Message:</label>
													<textarea class="form-control" id="message-text"></textarea>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary btn-md" data-bs-dismiss="modal">Close</button>
										<button type="button" onclick="SendMess()" class="btn btn-outline-primary btn-md">Submit Report</button>

										</div>
									</div>
								</div>
							</div>

						<script>
							const exampleModal = document.getElementById('exampleModal');
							exampleModal.addEventListener('show.bs.modal', event => {
								const button = event.relatedTarget;

								const account = button.getAttribute('data-account');
								const password = button.getAttribute('data-password');
								const price = button.getAttribute('data-price');
								const orderDate = button.getAttribute('data-order-date');
								const orderNo = button.getAttribute('data-order-No');
								const detailID = button.getAttribute('data-detail-id');
								
								exampleModal.querySelector('#account-name').value = account;
								exampleModal.querySelector('#password').value = password;
								exampleModal.querySelector('#price').value = price;
								exampleModal.querySelector('#order-date').value = orderDate;
								exampleModal.querySelector('#order-No').textContent = orderNo;

								exampleModal.dataset.detailId = detailID; 
						
								
								
								
								
								
								// Lưu detailID vào dataset
								
								// Thêm DetailID vào một biến toàn cục hoặc một thuộc tính của modal
							
							});	
							
							function SendMess() {
							const detailID = exampleModal.dataset.detailId;
								var mess = document.getElementById("message-text").value;




								$.ajax({
									type: "POST",
									url: "/account/Profile?handler=SendReport",
									beforeSend: function (xhr) {
										// Set the XSRF token in the request header
										xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
									},
									data: {
										detailID: detailID,
										mess: mess,
									},
									dataType: "json",
									success: function (data) {
										if (data.success) {
											console.log(data.message);
											Swal.fire({
												title: "Congatulation",
												text: 'You send Report Success',
												icon: "success",
												showCancelButton: false,
												confirmButtonColor: "#3085d6",
												confirmButtonText: "OK",
												allowOutsideClick: true 
											}).then((result) => {
												if (result.isConfirmed) {
													$('#exampleModal').modal('hide');
													$('.modal-backdrop').remove();
													$('#row-' + detailID).remove();
												}
											}).finally(() => {
												$('#exampleModal').modal('hide');
												$('.modal-backdrop').remove();
												$('#row-' + detailID).remove();
											});	
										}else{
											Swal.fire({
												icon: 'error',
												title: 'Lỗi!',
												text: 'Xảy ra lỗi trong quá trình cập nhật hồ sơ.',
												showConfirmButton: true
											});
										}

									},
									error: function (error) {
										console.error("Error occurred:", error);
									}
								});
							}


						</script>



						<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
						
		<script>







							function ViewDetail(orderId) {
								$.ajax({
									type: "POST",
									url: "/account/Profile?handler=ViewOrdetail",
									beforeSend: function (xhr) {
										// Set the XSRF token in the request header
										xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
									},
									data: {
										id: orderId // Sửa lại để truyền đúng orderId
									},
									dataType: "json",
									success: function (data) {
										// Kiểm tra xem dữ liệu có trả về không
										if (data && data.items) {
											$('#orderDetailContainer').html(`
												<table class="table table-order text-left">
													<thead>
														<tr>
															<th>NO.</th>
															<th>Account</th>
															<th>Password</th>
															
															<th>Price</th>
															<th>Order Date</th>
															<th>Status</th>
															<th>Total Price</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
																					${data.items.map((item, index) => `
								<tr>
									<td>${index + 1}</td>
									<td>${item.account}</td>
									<td>${item.password}</td>
									<td style="display:none">${item.detailID}</td>
									<td>${item.price}</td>
									<td>${item.orderDate}</td>
									<td>${item.status}</td>
									<td>${item.totalPrice}</td>
									<td>
																	${item.status.toLowerCase() === 'ok' ?
													`<button id="row-${item.detailID}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
												data-account="${item.account}"
												data-password="${item.password}"
												data-price="${item.price}"
												data-order-date="${item.orderDate}"
												data-order-No="${index + 1}"
												data-detail-id="${item.detailID}">Report this Order</button>`
													:
													``
												}
									</td>
								</tr>
							`).join('')}

													</tbody>
												</table>
											`);

											// Kích hoạt tab OrderDetail để hiển thị chi tiết đơn hàng
											$('#OrderDetail').addClass('show active').siblings().removeClass('show active');
										} else {
											$('#orderDetailContainer').html('<p>No details found for this order.</p>');
										}
									},
									error: function (error) {
										console.error("Error occurred:", error);
										$('#orderDetailContainer').html('<p>An error occurred while fetching the order details.</p>');
									}
								});
							}



							function BackOrder() {
								// Đảm bảo luôn loại bỏ các lớp để thiết lập trạng thái ban đầu
								$('#order-tab').removeClass('active show');
								$('#order-tab').removeClass('nav-link active');

								// Chuyển qua tab OrderDetail
								$('#order-tab').tab('show'); // Hiển thị lại tab
								$('#order-tab').addClass('nav-link active'); // Đặt lại trạng thái active

							}


        var currentPage = 1;
        var rowsPerPage = 5;







        // Function to filter table based on input
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("transactionTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5]; // Search in Description column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        // Function to sort table by clicking on the headers
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("transactionTable");
            switching = true;
            dir = "asc"; // Set the sorting direction to ascending initially
            
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("TD")[columnIndex];
                    
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        // Function to paginate and limit the number of rows displayed
        function updateTable() {
            rowsPerPage = parseInt(document.getElementById("rowsPerPage").value);
            displayTable();
        }

        function displayTable() {
            var table, tr, i, start, end;
            table = document.getElementById("transactionTable");
            tr = table.getElementsByTagName("tr");

            start = (currentPage - 1) * rowsPerPage + 1;
            end = currentPage * rowsPerPage + 1;

            for (i = 1; i < tr.length; i++) {
                if (i >= start && i < end) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
            updatePagination(tr.length - 1);
        }

        // Function to update pagination buttons
        function updatePagination(totalRows) {
            var totalPages = Math.ceil(totalRows / rowsPerPage);
            var pagination = document.getElementById("pagination");
            pagination.innerHTML = "";

            for (var i = 1; i <= totalPages; i++) {
                var button = document.createElement("button");
                button.innerText = i;
                button.onclick = function() {
                    currentPage = parseInt(this.innerText);
                    displayTable();
                };
                pagination.appendChild(button);
            }
        }

        // Initial table display
        displayTable();
    </script>








 <style>
        /* CSS cho ô tìm kiếm */
        #searchInput {
            width: 250px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 15px;
            font-size: 16px;
        }

        /* CSS cho nút phân trang */
        .pagination-container button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 16px;
            margin: 0 4px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .pagination-container button:hover {
            background-color: #0056b3;
        }

        .pagination-container button.active {
            background-color: #0056b3;
            font-weight: bold;
        }

        /* CSS cho bảng */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
            font-family: Arial, sans-serif;
        }

        .table th, .table td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
            word-wrap: break-word;
            max-width: 200px;
        }

        .table th {
            background-color: #f8f9fa;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
        }

        .table th.sort-asc::after {
            content: " ▲";
        }

        .table th.sort-desc::after {
            content: " ▼";
        }

        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #e9ecef;
        }

        /* Nút xem và nút phân trang */
        .btn-primary {
            background-color: #007bff;
            border: none;
            padding: 8px 12px;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        /* Phần chọn số hàng hiển thị */
        #rowsPerPage {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-left: 10px;
        }
    </style>

						@* <div class="tab-pane fade" id="download" role="tabpanel">
							<div class="download-content">
								<h3 class="account-sub-title d-none d-md-block"><i
										class="sicon-cloud-download align-middle mr-3"></i>Downloads</h3>
								<div class="download-table-container">
									<p>No downloads available yet.</p> <a href="category.html"
										class="btn btn-primary text-transform-none mb-2">GO SHOP</a>
								</div>
							</div>
						</div><!-- End .tab-pane --> *@

						<div class="tab-pane fade" id="address" role="tabpanel">
							<h3 class="account-sub-title d-none d-md-block mb-1"><i
									class="sicon-location-pin align-middle mr-3"></i>Addresses</h3>
							<div class="addresses-content">
								<p class="mb-4">
									The following addresses will be used on the checkout page by
									default.
								</p>

								<div class="row">
									<div class="address col-md-6">
										<div class="heading d-flex">
											<h4 class="text-dark mb-0">Billing address</h4>
										</div>

										<div class="address-box">
											You have not set up this type of address yet.
										</div>

										<a href="#billing" class="btn btn-default address-action link-to-tab">Add
											Address</a>
									</div>

									<div class="address col-md-6 mt-5 mt-md-0">
										<div class="heading d-flex">
											<h4 class="text-dark mb-0">
												Shipping address
											</h4>
										</div>

										<div class="address-box">
											You have not set up this type of address yet.
										</div>

										<a href="#shipping" class="btn btn-default address-action link-to-tab">Add
											Address</a>
									</div>
								</div>
							</div>
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade" id="edit" role="tabpanel">
							<h3 class="account-sub-title d-none d-md-block mt-0 pt-1 ml-1">
								<i class="icon-user-2 align-middle mr-3 pr-1"></i>Account Details
							</h3>
							<div class="account-content">
								<form id="profileForm">
									@Html.AntiForgeryToken()
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="AppUser.UserName">UserName <span class="required">*</span></label>
												<input asp-for="AppUser.UserName" class="form-control" placeholder="Editor" required readonly />
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="AppUser.Email">Email <span class="required">*</span></label>
												<input asp-for="AppUser.Email" class="form-control" required readonly />
											</div>
										</div>
									</div>

									<div class="form-group mb-2">
										<label asp-for="AppUser.FullName">FullName <span class="required">*</span></label>
										<input asp-for="AppUser.FullName" class="form-control" placeholder="Editor" required />
									</div>
									<div class="form-group mb-2">
										<label asp-for="AppUser.DateOfBirth">DateOfBirth <span class="required">*</span></label>
										<input asp-for="AppUser.DateOfBirth" class="form-control" type="date" required />
									</div>
									<div class="form-group mb-2">
										<label asp-for="AppUser.PhoneNumber">PhoneNumber <span class="required">*</span></label>
										<input asp-for="AppUser.PhoneNumber" class="form-control" required />
									</div>
									<div class="form-group mb-4">
										<label asp-for="AppUser.Address">Address <span class="required">*</span></label>
										<input asp-for="AppUser.Address" class="form-control" required />
									</div>

									@* 	<div class="change-password">
									<h3 class="text-uppercase mb-2">Password Change</h3>

									<div class="form-group">
									<label for="acc-password">Current Password (leave blank to leave
									unchanged)</label>
									<input type="password" class="form-control" id="acc-password"
									name="acc-password" />
									</div>


									<div class="form-footer mt-2 mb-0">
										

									<div class="form-group">
									<label for="acc-password">New Password (leave blank to leave
									unchanged)</label>
									<input type="password" class="form-control" id="acc-new-password"
									name="acc-new-password" />
									</div>

									<div class="form-group">
									<label for="acc-password">Confirm New Password</label>
									<input type="password" class="form-control" id="acc-confirm-password"
									name="acc-confirm-password" />
									</div>
									</div> *@

									<div class="form-footer mt-3 mb-0">
										<button type="submit" class="btn btn-dark btn-save-changes">
											Save changes
										</button>

									</div>
								</form>
							</div>
						</div><!-- End .tab-pane -->


						<div class="tab-pane fade" id="billing" role="tabpanel">
							<div class="address account-content mt-0 pt-2">
								<h4 class="title">Billing address</h4>

								<form class="mb-2" action="#">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>First name <span class="required">*</span></label>
												<input type="text" class="form-control" required />
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label>Last name <span class="required">*</span></label>
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>

									<div class="form-group">
										<label>Company </label>
										<input type="text" class="form-control">
									</div>

									<div class="select-custom">
										<label>Country / Region <span class="required">*</span></label>
										<select name="orderby" class="form-control">
											<option value="" selected="selected">British Indian Ocean Territory
											</option>
											<option value="1">Brunei</option>
											<option value="2">Bulgaria</option>
											<option value="3">Burkina Faso</option>
											<option value="4">Burundi</option>
											<option value="5">Cameroon</option>
										</select>
									</div>

									<div class="form-group">
										<label>Street address <span class="required">*</span></label>
										<input type="text" class="form-control"
											placeholder="House number and street name" required />
										<input type="text" class="form-control"
											placeholder="Apartment, suite, unit, etc. (optional)" required />
									</div>

									<div class="form-group">
										<label>Town / City <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>

									<div class="form-group">
										<label>State / Country <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>

									<div class="form-group">
										<label>Postcode / ZIP <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>

									<div class="form-group mb-3">
										<label>Phone <span class="required">*</span></label>
										<input type="number" class="form-control" required />
									</div>

									<div class="form-group mb-3">
										<label>Email address <span class="required">*</span></label>
										<input type="email" class="form-control" placeholder="editor@gmail.com"
											required />
									</div>

									<div class="form-footer mb-0">
										<div class="form-footer-right">
											<button type="submit" class="btn btn-dark py-4">
												Save Address
											</button>
										</div>
									</div>
								</form>
							</div>
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade" id="shipping" role="tabpanel">
							<div class="address account-content mt-0 pt-2">
								<h4 class="title mb-3">Shipping Address</h4>

								<form id="register-seller-form" asp-page-handler="RegisterSeller" method="post">
									@* <div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="AppUser.UserName">UserName <span class="required">*</span></label>
												<input asp-for="AppUser.UserName" class="form-control" placeholder="Editor" required readonly />
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="AppUser.Email">Email <span class="required">*</span></label>
												<input asp-for="AppUser.Email" class="form-control" required readonly />
											</div>
										</div>
									</div>

									@* <div class="form-group">
										<label>Company </label>
										<input type="text" class="form-control">
									</div> *@

								@* 	 <div class="form-group mb-2">
									 	<label asp-for="AppUser.FullName">FullName <span class="required">*</span></label>
									 	<input id="fullName" asp-for="AppUser.FullName" class="form-control" placeholder="Editor" />
									 </div>
									 <div class="form-group mb-2">
									 	<label asp-for="AppUser.DateOfBirth">DateOfBirth <span class="required">*</span></label>
									 	<input asp-for="AppUser.DateOfBirth" class="form-control" type="date"  />
									 </div>
									 <div class="form-group mb-2">
									 	<label asp-for="AppUser.PhoneNumber">PhoneNumber <span class="required">*</span></label>
									 	<input id="phoneNumber" asp-for="AppUser.PhoneNumber" class="form-control" />
									 </div>
									 <div class="form-group mb-4">
									 	<label asp-for="AppUser.Address">Address <span class="required">*</span></label>
									 	<input id="address" asp-for="AppUser.Address" class="form-control" />
									 </div> *@ 
									<!-- Thêm phần chọn Yes/No để đăng ký làm seller -->
								@* 	<div class="form-group mb-4">
										<label>Do you want to register as a seller?</label>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="isSeller" id="isSellerYes" value="Yes">
											<label class="form-check-label" for="isSellerYes">
												Yes
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="isSeller" id="isSellerNo" value="No" checked>
											<label class="form-check-label" for="isSellerNo">
												No
											</label>
										</div>
									</div> *@
									@if (ViewData["IsSeller"] == null || (bool)ViewData["IsSeller"] == false)
									{
										<div class="alert alert-info" id="seller1">
											<div class="alert-wrapper">
												<h4>Announcement!</h4>
												<p>Do you want to register as a seller?</p>
												<button class="btn btn-info mt-xs mb-xs" id="btnYes" type="button">Yes, it’s the best choice</button>
												<button class="btn btn-default mt-xs mb-xs" id="btnNo" type="button">Not convinced yet</button>
											</div>
										</div>
									}
									 else if (ViewData["IsSeller"] != null && (bool)ViewData["IsSeller"] == true)
									 {
									 	<div class="alert alert-info" id="seller" style="background-color:#87cefa;">
									 		<div class="alert-wrapper">
									 			<h4>Announcement!</h4>
									 			<p>Waiting for admin approval</p>
									 		</div>
									 	</div>
									 }
									<div class="alert alert-info d-none" id="seller" style="background-color:#87cefa;">
										<div class="alert-wrapper">
											<h4>Announcement!</h4>
											<p>Waiting for admin approval</p>
										</div>
									</div>



									@* <div class="form-footer mb-0">
										<div class="form-footer-right">
											<button type="submit" class="btn btn-dark py-4">
												Save Address
											</button>
										</div>
									</div> *@
								</form>
							</div>
						</div><!-- End .tab-pane -->
					</div><!-- End .tab-content -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->

	@* 	<footer class="footer bg-dark">
			<div class="footer-middle">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="widget">
								<h4 class="widget-title">Contact Info</h4>
								<ul class="contact-info">
									<li>
										<span class="contact-info-label">Address:</span>123 Street Name, City, England
									</li>
									<li>
										<span class="contact-info-label">Phone:</span><a href="tel:">(123)
											456-7890</a>
									</li>
									<li>
										<span class="contact-info-label">Email:</span> <a href="https://www.portotheme.com/cdn-cgi/l/email-protection#375a565e5b77524f565a475b521954585a"><span class="__cf_email__" data-cfemail="523f333b3e12372a333f223e377c313d3f">[email&#160;protected]</span></a>
									</li>
									<li>
										<span class="contact-info-label">Working Days/Hours:</span>
										Mon - Sun / 9:00 AM - 8:00 PM
									</li>
								</ul>
								<div class="social-icons">
									<a href="#" class="social-icon social-facebook icon-facebook" target="_blank"
										title="Facebook"></a>
									<a href="#" class="social-icon social-twitter icon-twitter" target="_blank"
										title="Twitter"></a>
									<a href="#" class="social-icon social-instagram icon-instagram" target="_blank"
										title="Instagram"></a>
								</div><!-- End .social-icons -->
							</div><!-- End .widget -->
						</div><!-- End .col-lg-3 -->

						<div class="col-lg-3 col-sm-6">
							<div class="widget">
								<h4 class="widget-title">Customer Service</h4>

								<ul class="links">
									<li><a href="#">Help & FAQs</a></li>
									<li><a href="#">Order Tracking</a></li>
									<li><a href="#">Shipping & Delivery</a></li>
									<li><a href="#">Orders History</a></li>
									<li><a href="#">Advanced Search</a></li>
									<li><a href="dashboard.html">My Account</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="#">Corporate Sales</a></li>
									<li><a href="#">Privacy</a></li>
								</ul>
							</div><!-- End .widget -->
						</div><!-- End .col-lg-3 -->

						<div class="col-lg-3 col-sm-6">
							<div class="widget">
								<h4 class="widget-title">Popular Tags</h4>

								<div class="tagcloud">
									<a href="#">Bag</a>
									<a href="#">Black</a>
									<a href="#">Blue</a>
									<a href="#">Clothes</a>
									<a href="#">Fashion</a>
									<a href="#">Hub</a>
									<a href="#">Shirt</a>
									<a href="#">Shoes</a>
									<a href="#">Skirt</a>
									<a href="#">Sports</a>
									<a href="#">Sweater</a>
								</div>
							</div><!-- End .widget -->
						</div><!-- End .col-lg-3 -->

						<div class="col-lg-3 col-sm-6">
							<div class="widget widget-newsletter">
								<h4 class="widget-title">Subscribe newsletter</h4>
								<p>Get all the latest information on events, sales and offers. Sign up for newsletter:
								</p>
								<form action="#" class="mb-0">
									<input type="email" class="form-control m-b-3" placeholder="Email address" required>

									<input type="submit" class="btn btn-primary shadow-none" value="Subscribe">
								</form>
							</div><!-- End .widget -->
						</div><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .footer-middle -->

			<div class="container">
				<div class="footer-bottom">
					<div class="container d-sm-flex align-items-center">
						<div class="footer-left">
							<span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
						</div>

						<div class="footer-right ml-auto mt-1 mt-sm-0">
							<div class="payment-icons">
								<span class="payment-icon visa"
									style="background-image: url(~/assets/images/payments/payment-visa.svg)"></span>
								<span class="payment-icon paypal"
									style="background-image: url(~/assets/images/payments/payment-paypal.svg)"></span>
								<span class="payment-icon stripe"
									style="background-image: url(~/assets/images/payments/payment-stripe.png)"></span>
								<span class="payment-icon verisign"
									style="background-image:  url(~/assets/images/payments/payment-verisign.svg)"></span>
							</div>
						</div>
					</div>
				</div><!-- End .footer-bottom -->
			</div><!-- End .container -->
		</footer> *@<!-- End .footer -->
		<partial name="_Footer" />
	</div><!-- End .page-wrapper -->

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="fa fa-times"></i></span>
			<nav class="mobile-nav">
				<ul class="mobile-menu">
					<li><a href="demo4.html">Home</a></li>
					<li>
						<a href="category.html">Categories</a>
						<ul>
							<li><a href="category.html">Full Width Banner</a></li>
							<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
							<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
							<li><a href="category-sidebar-left.html">Left Sidebar</a></li>
							<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
							<li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
							<li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
							<li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
							<li><a href="#">List Types</a></li>
							<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span
										class="tip tip-new">New</span></a></li>
							<li><a href="category.html">3 Columns Products</a></li>
							<li><a href="category-4col.html">4 Columns Products</a></li>
							<li><a href="category-5col.html">5 Columns Products</a></li>
							<li><a href="category-6col.html">6 Columns Products</a></li>
							<li><a href="category-7col.html">7 Columns Products</a></li>
							<li><a href="category-8col.html">8 Columns Products</a></li>
						</ul>
					</li>
					<li>
						<a href="product.html">Products</a>
						<ul>
							<li>
								<a href="#" class="nolink">PRODUCT PAGES</a>
								<ul>
									<li><a href="product.html">SIMPLE PRODUCT</a></li>
									<li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
									<li><a href="product.html">SALE PRODUCT</a></li>
									<li><a href="product.html">FEATURED & ON SALE</a></li>
									<li><a href="product-sticky-info.html">WIDTH CUSTOM TAB</a></li>
									<li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
									<li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
									<li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="nolink">PRODUCT LAYOUTS</a>
								<ul>
									<li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
									<li><a href="product-grid-layout.html">GRID IMAGE</a></li>
									<li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
									<li><a href="product-sticky-info.html">STICKY INFO</a></li>
									<li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
									<li><a href="product-transparent-image.html">TRANSPARENT IMAGE</a></li>
									<li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
									<li><a href="#">BUILD YOUR OWN</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
						<ul>
							<li>
								<a href="wishlist.html">Wishlist</a>
							</li>
							<li>
								<a href="cart.html">Shopping Cart</a>
							</li>
							<li>
								<a href="checkout.html">Checkout</a>
							</li>
							<li>
								<a href="dashboard.html">Dashboard</a>
							</li>
							<li>
								<a href="login.html">Login</a>
							</li>
							<li>
								<a href="forgot-password.html">Forgot Password</a>
							</li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="#">Elements</a>
						<ul class="custom-scrollbar">
							<li><a href="element-accordions.html">Accordion</a></li>
							<li><a href="element-alerts.html">Alerts</a></li>
							<li><a href="element-animations.html">Animations</a></li>
							<li><a href="element-banners.html">Banners</a></li>
							<li><a href="element-buttons.html">Buttons</a></li>
							<li><a href="element-call-to-action.html">Call to Action</a></li>
							<li><a href="element-countdown.html">Count Down</a></li>
							<li><a href="element-counters.html">Counters</a></li>
							<li><a href="element-headings.html">Headings</a></li>
							<li><a href="element-icons.html">Icons</a></li>
							<li><a href="element-info-box.html">Info box</a></li>
							<li><a href="element-posts.html">Posts</a></li>
							<li><a href="element-products.html">Products</a></li>
							<li><a href="element-product-categories.html">Product Categories</a></li>
							<li><a href="element-tabs.html">Tabs</a></li>
							<li><a href="element-testimonial.html">Testimonials</a></li>
						</ul>
					</li>
				</ul>

				<ul class="mobile-menu mt-2 mb-2">
					<li class="border-0">
						<a href="#">
							Special Offer!
						</a>
					</li>
					<li class="border-0">
						<a href="#" target="_blank">
							Buy Porto!
							<span class="tip tip-hot">Hot</span>
						</a>
					</li>
				</ul>

				<ul class="mobile-menu">
					<li><a href="login.html">My Account</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="wishlist.html">My Wishlist</a></li>
					<li><a href="cart.html">Cart</a></li>
					<li><a href="login.html" class="login-link">Log In</a></li>
				</ul>
			</nav><!-- End .mobile-nav -->

			<form class="search-wrapper mb-2" action="#">
				<input type="text" class="form-control mb-0" placeholder="Search..." required />
				<button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
			</form>

			<div class="social-icons">
				<a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
				</a>
				<a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
				</a>
				<a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
				</a>
			</div>
		</div><!-- End .mobile-menu-wrapper -->
	</div><!-- End .mobile-menu-container -->

	<div class="sticky-navbar">
		<div class="sticky-info">
			<a href="demo4.html">
				<i class="icon-home"></i>Home
			</a>
		</div>
		<div class="sticky-info">
			<a href="category.html" class="">
				<i class="icon-bars"></i>Categories
			</a>
		</div>
		<div class="sticky-info">
			<a href="wishlist.html" class="">
				<i class="icon-wishlist-2"></i>Wishlist
			</a>
		</div>
		<div class="sticky-info">
			<a href="login.html" class="">
				<i class="icon-user-2"></i>Account
			</a>
		</div>
		<div class="sticky-info">
			<a href="cart.html" class="">
				<i class="icon-shopping-cart position-relative">
					<span class="cart-count badge-circle">3</span>
				</i>Cart
			</a>
		</div>
	</div>


	<style>
		.btn-save-changes {
    opacity: 0.5; /* Độ mờ ban đầu là 0.5 */
    transition: opacity 0.5s ease; /* Hiệu ứng chuyển tiếp mượt mà */
    pointer-events: none; /* Không cho phép tương tác khi không hoạt động */
}

.btn-save-changes.visible {
    opacity: 1; /* Khi có lớp "visible", độ mờ sẽ là 1 (hiển thị) */
    pointer-events: auto; /* Cho phép tương tác khi nút hoạt động */
}
	</style>

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="~/assets/js/main.min.js"></script>
	<div id="resultMessage" class="alert" style="display:none;"></div>
	@section Scripts {
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
$(document).ready(function () {
    // Lưu trữ giá trị ban đầu của các trường nhập liệu
    const initialValues = {};
    $('#profileForm input').each(function () {
        initialValues[this.name] = $(this).val();
    });

    // Đặt nút "Save changes" ở trạng thái mờ (opacity: 0.5)
    $('.btn-save-changes').removeClass('visible'); // Đảm bảo không có lớp visible ban đầu

    // Theo dõi sự thay đổi trong các trường nhập
    $('#profileForm input').on('input change', function () {
        const currentValue = $(this).val();
        const name = $(this).attr('name');

        // So sánh giá trị hiện tại với giá trị ban đầu
        if (currentValue !== initialValues[name]) {
            $('.btn-save-changes').addClass('visible'); // Hiển thị nút khi có sự thay đổi
        } else {
            $('.btn-save-changes').removeClass('visible'); // Giữ nút mờ nếu không có sự thay đổi
        }
    });

    // Xử lý sự kiện submit form bằng Ajax
    $('#profileForm').submit(function (event) {
        event.preventDefault(); // Ngăn không cho form submit theo cách thông thường

        $.ajax({
            url: '@Url.Page("Profile","UpdatePro")',  // Đảm bảo đúng handler Razor Page
            type: 'POST',
            data: $(this).serialize(),
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
                // Hiển thị thông báo thành công hoặc thất bại bằng SweetAlert
                if (response.success) {
                    console.log("Ok");
                    Swal.fire({
                        icon: 'success',
                        title: 'Cập nhật thành công!',
                        text: response.message,
                        showConfirmButton: false,
                        timer: 2000 // Đóng thông báo sau 2 giây
                    });
                    $('.btn-save-changes').removeClass('visible'); // Giữ nút mờ sau khi cập nhật thành công
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Cập nhật thất bại!',
                        text: response.message,
                        showConfirmButton: true
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Xảy ra lỗi trong quá trình cập nhật hồ sơ.',
                    showConfirmButton: true
                });
            }
        });
    });
});
</script>
		<script>
			$(document).ready(function () {
				// Sự kiện cho nút "Yes" - Gửi form khi bấm "Yes"
				$('#btnYes').on('click', function () {
					Swal.fire({
						icon: 'warning',
						title: 'Do you want register',
						text: 'Bạn có chắc chắn muốn đăng ký làm seller không?',
						showCancelButton: true,
						confirmButtonText: 'Yes, I want to register seller',
						cancelButtonText: 'No, Cancel'
					}).then((result) => {
						if (result.isConfirmed) {
							$('#register-seller-form').submit(); // Gửi form khi bấm nút "Yes" trong xác nhận
						}
					});
				});

				// Sự kiện cho nút "No" - Không làm gì ngoài hiển thị thông báo
				$('#btnNo').on('click', function () {
					Swal.fire({
						icon: 'info',
						title: 'Still thinking?',
						text: 'You can always come back to register later!',
						showConfirmButton: true
					});
				});

				// Xử lý submit form
				$('#register-seller-form').on('submit', function (event) {
					event.preventDefault(); // Ngăn hành động submit mặc định

					// Thực hiện AJAX để gửi form
					$.ajax({
						type: 'POST',
						url: '@Url.Page("Profile", "RegisterSeller")',
						data: $(this).serialize(),
						success: function (response) {
							if (response.success) {
								// Hiển thị thông báo đăng ký thành công
								var element = document.getElementById("seller");
								var seller1 = document.getElementById("seller1");
								Swal.fire({
									icon: 'success',
									title: 'Đăng ký thành công!',
									text: response.message,
									showConfirmButton: false,
									timer: 2000 // Đóng thông báo sau 2 giây
								}).then(() => {
									seller1.className = "alert alert-info d-none";
									element.className = "alert alert-info";
									
								});
							} else if (response.requiresRedirect) {
								// Nếu cần chuyển qua tab chi tiết tài khoản
								Swal.fire({
									icon: 'warning',
									title: 'Thông tin không đầy đủ!',
									text: response.message,
									showConfirmButton: true
								}).then(() => {
									$('#edit-tab').tab('show'); // Chuyển qua tab
								});
							} else {
								Swal.fire({
									icon: 'error',
									title: 'Lỗi!',
									text: response.message,
									showConfirmButton: true
								});
							}
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Lỗi!',
								text: 'Xảy ra lỗi trong quá trình gửi yêu cầu.',
								showConfirmButton: true
							});
						}
					});
				});
			});
		</script>


	}


</body>


<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:17 GMT -->
</html>
