@page "{feedbackID?}"
@using System.Text.Json
@model StoreMMO.Web.Pages.Seller.ReplyFeedbackModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets_Admin/img/favicon.png" rel="icon">
    <link href="~/assets_Admin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets_Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets_Admin/css/style.css" rel="stylesheet">
    <style>
        /* CSS để căn giữa form */
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Chiều cao của viewport */
        }
    </style>
    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <!-- <img src="~/assets_Admin/img/logo.png" alt=""> -->
                <span class="d-none d-lg-block">Seller Feature</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets_Admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/SellderDashboard/SellerDashList'>
                    <i class="ri-bank-line"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/Index'>
                    <i class="ri-store-2-line"></i> <span>Manage Store</span>
                </a>
            </li>

            @*             <li class="nav-item">
            <a class="nav-link collapsed" href='/Seller/'>
            <i class="ri-shopping-basket-2-line"></i> <span>Manage Products</span>
            </a>
            </li> *@

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/Complain/ComplainList'>
                    <i class="ri-virus-line"></i> <span>Manage Complaint </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/FeedbackList'>
                    <i class="ri-thumb-up-line"></i> <span>Manage Feedback</span>
                </a>
            </li><!-- End Charts Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/ViewSalesHistoryList'>
                    <i class="ri-money-dollar-circle-line"></i><span>Seles History</span>
                </a>
            </li><!-- End Icons Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/'>
                    <i class=""></i> <span>LogOut</span>
                </a>
            </li>
        </ul>

    </aside><!-- End Sidebar-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Reply Feedback</h1>

        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Update User Information Form</h5>
                          @if (!string.IsNullOrEmpty(@Model.success))
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <i class="bi bi-check-circle me-1"></i>
                                    @Model.success
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(@Model.fail))
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <i class="bi bi-exclamation-octagon me-1"></i>
                                    @Model.fail
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            } 

                            @{
                                var reply = "";
                            }
                            @foreach (var item in @Model.list)
                            {
                                reply = item.Relay??"";
                                <!-- General Form Elements -->
                                <form method="post">
                                    <input type="text" class="form-control" value="@item.Id"
                                           hidden asp-for="input.Id">
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Order Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@item.OrderCode" 
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Store Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@item.StoreName"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Comment</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" style="height: 100px" readonly>@item.Comments</textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Reply</label>
                                        <div class="col-sm-10">
                                            <textarea id="replyTextarea" class="form-control" style="height: 100px" asp-for="input.Relay">@item.Relay</textarea>
                                            <span style="color:red" asp-validation-for="input.Relay"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Rating</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@item.Stars" 
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputDate" class="col-sm-2 col-form-label">Create Date</label>
                                        <div class="col-sm-10">
                                            @if (item.CreatedDate != null)
                                            {
                                                <input type="date" class="form-control"
                                                       value="@item.CreatedDate.Value.ToString("yyyy-MM-dd")" readonly>
                                            }
                                            else
                                            {
                                                <input type="date" class="form-control" value="" readonly>
                                            }
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" onclick="window.location.href='/Seller/FeedbackList'"
                                                class="btn btn-secondary">
                                            Back To List
                                        </button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>

                                <!-- End General Form Elements -->
                                <!-- Script này chủ yếu được dùng để lấy dữ liệu từ Razor Model và hiển thị ở hàng reply-->
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const replyValue = @Html.Raw(JsonSerializer.Serialize(item.Relay)); // Mã hóa dữ liệu
                                        document.getElementById('replyTextarea').value = replyValue;
                                    });
                                </script>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- back on top -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets_Admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets_Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets_Admin/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets_Admin/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets_Admin/vendor/quill/quill.js"></script>
    <script src="~/assets_Admin/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets_Admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets_Admin/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets_Admin/js/main.js"></script>

</body>

</html>