@page
@model ViewDetailsProductModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tables / Data - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets_Admin/img/favicon.png" rel="icon">
    <link href="~/assets_Admin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets_Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets_Admin/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets_Admin/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="~/assets_Admin/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets_Admin/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets_Admin/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets_Admin/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets_Admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/SellderDashboard/SellerDashList'>
                    <i class="ri-bank-line"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/Index'>
                    <i class="ri-store-2-line"></i> <span>Manage Store</span>
                </a>
            </li>

            @*             <li class="nav-item">
            <a class="nav-link collapsed" href='/Seller/'>
            <i class="ri-shopping-basket-2-line"></i> <span>Manage Products</span>
            </a>
            </li> *@

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/Complain/ComplainList'>
                    <i class="ri-virus-line"></i> <span>Manage Complaint </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/FeedbackList'>
                    <i class="ri-thumb-up-line"></i> <span>Manage Feedback</span>
                </a>
            </li><!-- End Charts Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/ViewSalesHistoryList'>
                    <i class="ri-money-dollar-circle-line"></i><span>Seles History</span>
                </a>
            </li><!-- End Icons Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href='/Seller/'>
                    <i class=""></i> <span>LogOut</span>
                </a>
            </li>
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        @*
        <div class="pagetitle">
        <h1>User List Tables</h1>
        <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
        </ol>
        </nav>
        </div><!-- End Page Title --> *@

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Manage Product</h5>
                            <a asp-page="/Seller/CreateProduct" asp-route-id="@Model.ProductTypeId" class="btn btn-primary">Create Product</a>

                            <h5>Đây là: @Model.ProductTypeName</h5> <!-- Hiển thị tên loại sản phẩm -->
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Account</th>
                                        <th>Pwd</th>
                                        <th>StatusUpload</th>
                                        <th>Status</th>
                                        <th>CreatedDate</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var item in Model.Products)
                                    {

                                  
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Account</td>
                                            <td>@item.Pwd</td>
                                            <td>@item.StatusUpload</td>
                                            <td class="@(item.Status == "New" ? "text-success" : "text-danger")">
                                                @(item.Status == "New" ? "New" : "Paid")
                                            </td>
                                            <td>@item.CreatedDate?.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <!-- Nút để mở modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.Id">
                                                    Edit
                                                </button>

                                            </td>
                                            @if (item.Status == "New")
                                            {
                                                <td>
                                                    <!-- Nút để mở modal -->
                                                    <!-- Nút với asp-page-handler -->
                                                      <a asp-page-handler="Hidden" data-productid="@item.Id" class="btn btn-primary">Hidden</a>
                                               </td>
                                            
                                            }
                                           
                                            <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit Product</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Form to update product -->
                                                            <form id="editProductForm-@item.Id" method="post" class="editProductForm" data-product-id="@item.Id" action="/Seller/ViewDetailsProduct">
                                                                @Html.AntiForgeryToken() <!-- Add this line -->
                                                                <div class="form-group">
                                                                    <label asp-for="@item.Account">Account</label>
                                                                    <input asp-for="@item.Account" type="text" name="Account" id="Account-@item.Account" class="form-control" value="@item.Account" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label asp-for="@item.Pwd">Pwd</label>
                                                                    <input asp-for="@item.Pwd" type="text" name="Pwd" id="Pwd-@item.Pwd" class="form-control" value="@item.Pwd" />
                                                                </div>
                                                          @*       <div class="form-group">
                                                                    <label asp-for="@item.Status">Status</label>
                                                                    <select asp-for="@item.Status" class="form-control" name="Status" id="Status-@item.Status">
                                                                        <option value="Paid">Paid</option>
                                                                        <option value="New">New</option>
                                                                    </select>
                                                                </div> *@
                                                                <div class="form-group">
                                                                    <input type="submit" value="Save" class="btn btn-primary" />
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        ++count;

                                    }

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @*     <footer id="footer" class="footer">
    <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
    </footer><!-- End Footer --> *@

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets_Admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets_Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets_Admin/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets_Admin/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets_Admin/vendor/quill/quill.js"></script>
    <script src="~/assets_Admin/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets_Admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets_Admin/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets_Admin/js/main.js"></script>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                $(document).on('submit', '.editProductForm', function (event) {
                    event.preventDefault(); // Ngăn chặn hành vi gửi form mặc định

                    var productId = $(this).data('product-id'); // Lấy product ID từ data attribute
                    var formData = $(this).serialize(); // Serialize form data
                    formData += '&id=' + productId; // Thêm product ID vào form data

                    $.ajax({
                        url: '/Seller/ViewDetailsProduct', // URL gửi request
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Update Successful',
                                    text: 'Product information has been updated.'
                                }).then(function () {
                                    location.reload(); // Tải lại trang sau khi thành công
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'An Error Occurred',
                                    text: response.message || 'Unable to update product information. Please try again later.'
                                });
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'An Error Occurred',
                                text: 'Unable to update product information. Please try again later.'
                            });
                        }
                    });
                });
            });
        </script>
        <script>
            $(document).on("click", ".btn-primary[data-productid]", function (e) {
                e.preventDefault();

                const productId = $(this).data("productid");
                const token = $('input[name="__RequestVerificationToken"]').val();

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to hide this product?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, hide it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Người dùng chọn Yes
                        $.ajax({
                            type: "POST",
                            url: "/Seller/ViewDetailsProduct?handler=Hidden",
                            data: { Productid: productId, __RequestVerificationToken: token },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Product Hidden Successfully',
                                        text: response.message || 'Product has been hidden successfully.'
                                    }).then(function () {
                                        location.reload(); // Tải lại trang sau khi thành công
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'An Error Occurred',
                                        text: response.message || 'Unable to hide product. Please try again later.'
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'An Error Occurred',
                                    text: 'Unable to hide product. Please try again later.'
                                });
                            }
                        });
                    } else {
                        // Người dùng chọn No, không làm gì cả
                        Swal.fire({
                            icon: 'info',
                            title: 'Action Cancelled',
                            text: 'The product was not hidden.'
                        });
                    }
                });
            });
        </script>
    }

</body>

</html>

