@page
@model StoreMMO.Web.Pages.Cart.ViewModel
@{
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:22 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Porto - Bootstrap eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="~/assets/images/icons/favicon.png">


	<script>
		WebFontConfig = {
			google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400'] }
		};
		(function (d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = '~/assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="~/assets/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
	<div class="page-wrapper">
		<div class="top-notice bg-primary text-white">
			<div class="container text-center">
				<h5 class="d-inline-block">Get Up to <b>40% OFF</b> New-Season Styles</h5>
				<a href="category.html" class="category">MEN</a>
				<a href="category.html" class="category ml-2 mr-3">WOMEN</a>
				<small>* Limited time only.</small>
				<button title="Close (Esc)" type="button" class="mfp-close">×</button>
			</div><!-- End .container -->
		</div><!-- End .top-notice -->

		

		<main class="main">
			<div class="container">
				<ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
					<li class="active">
						<a href="cart.html">Shopping Cart</a>
					</li>
					<li>
						<a href="checkout.html">Checkout</a>
					</li>
					<li class="disabled">
						<a href="cart.html">Order Complete</a>
					</li>
				</ul>
			
				<div class="row">
					<div class="col-lg-8">
						<div class="cart-table-container">
							<table class="table table-cart">
								<thead>
									<tr>
										<th class="thumbnail-col"></th>
										<th class="product-col">Product</th>
										<th class="price-col">Price</th>
										<th class="qty-col">Quantity</th>
										<th class="text-right">Subtotal</th>
									</tr>
								</thead>
								<tbody>

									@foreach(var item in Model.CartItems)
									{
										<tr class="product-row" id="row-@item.productID">
											<td>
												<figure class="product-image-container">
													<a href="/home/storedetail/@item.storeDetailID" class="product-image">
														<img src="@item.img" alt="product">
													</a>
													@Html.AntiForgeryToken()
													<a href="#" onclick="Remove('@item.productID')" class="btn-remove icon-cancel" title="Remove Product"></a>
												</figure>
											</td>
											<td class="product-col">
												<h5 class="product-title">
													<a href="/home/storedetail/@item.storeDetailID">@item.proName</a>
												</h5>
											</td>
											<td>$@item.price</td>
											<td>
												<div class="product-single-qty">
													<div class="product-single-qty">
														<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
															<span class="input-group-btn input-group-prepend">
																<button onclick="AutocheckQuan('@item.productID')" class="btn btn-outline btn-down-icon bootstrap-touchspin-down" type="button"></button>
															</span>

															<input style=" background-color: white;" readonly id="quanitu-@item.productID" class="form-control" type="text" value="@item.quantity">
															<span class="input-group-btn input-group-append">
																<button onclick="AddPluts('@item.productID')" class="btn btn-outline btn-up-icon bootstrap-touchspin-up" type="button"></button>
															</span>
														</div>
													</div>
												</div><!-- End .product-single-qty -->
											</td>
											<td class="text-right"><span id="subprice-@item.productID" class="subtotal-price">$@item.subtotal</span></td>
										</tr>
									}

									
								</tbody>
								

								<tfoot>
								@* 	<tr>
										<td colspan="5" class="clearfix">
											<div class="float-left">
												<div class="cart-discount">
													<form action="#">
														<div class="input-group">
															<input type="text" class="form-control form-control-sm"
																   placeholder="Coupon Code" required>
															<div class="input-group-append">
																<button class="btn btn-sm" type="submit">
																	Apply
																	Coupon
																</button>
															</div>
														</div><!-- End .input-group -->
													</form>
												</div>
											</div><!-- End .float-left -->

											<div class="float-right">
												<button type="submit" class="btn btn-shop btn-update-cart">
													Update Cart
												</button>
											</div><!-- End .float-right -->
										</td>
									</tr> *@
								</tfoot>
							</table>
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->
				
					@{
						var price = Model.CartItems.Sum(u => decimal.Parse(u.subtotal));
					}
					<div class="col-lg-4">
						<div class="cart-summary">
							<h3>CART TOTALS</h3>

							<table class="table table-totals">
								<tbody>
									<tr>
										<td>Subtotal</td>
										<td id="totals">$@price</td>
									</tr>

								
								</tbody>

								<tfoot>
									<tr>
										<td>Total</td>
										<td id="totals1">$@price</td>
									</tr>
								</tfoot>
							</table>

							<div class="checkout-methods">
								<form method="post">
									<button type="submit"  class="btn btn-block btn-dark">
										Proceed to Checkout
										<i class="fa fa-arrow-right"></i>
									</button>
								</form>
							</div>
						</div><!-- End .cart-summary -->
					</div><!-- End .col-lg-4 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->

	

	</div><!-- End .page-wrapper -->

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="fa fa-times"></i></span>
			<nav class="mobile-nav">
				<ul class="mobile-menu">
					<li><a href="demo4.html">Home</a></li>
					<li>
						<a href="category.html">Categories</a>
						<ul>
							<li><a href="category.html">Full Width Banner</a></li>
							<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
							<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
							<li><a href="category-sidebar-left.html">Left Sidebar</a></li>
							<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
							<li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
							<li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
							<li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
							<li><a href="#">List Types</a></li>
							<li>
								<a href="category-infinite-scroll.html">
									Ajax Infinite Scroll<span class="tip tip-new">New</span>
								</a>
							</li>
							<li><a href="category.html">3 Columns Products</a></li>
							<li><a href="category-4col.html">4 Columns Products</a></li>
							<li><a href="category-5col.html">5 Columns Products</a></li>
							<li><a href="category-6col.html">6 Columns Products</a></li>
							<li><a href="category-7col.html">7 Columns Products</a></li>
							<li><a href="category-8col.html">8 Columns Products</a></li>
						</ul>
					</li>
					<li>
						<a href="product.html">Products</a>
						<ul>
							<li>
								<a href="#" class="nolink">PRODUCT PAGES</a>
								<ul>
									<li><a href="product.html">SIMPLE PRODUCT</a></li>
									<li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
									<li><a href="product.html">SALE PRODUCT</a></li>
									<li><a href="product.html">FEATURED & ON SALE</a></li>
									<li><a href="product-sticky-info.html">WIDTH CUSTOM TAB</a></li>
									<li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
									<li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
									<li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="nolink">PRODUCT LAYOUTS</a>
								<ul>
									<li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
									<li><a href="product-grid-layout.html">GRID IMAGE</a></li>
									<li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
									<li><a href="product-sticky-info.html">STICKY INFO</a></li>
									<li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
									<li><a href="product-transparent-image.html">TRANSPARENT IMAGE</a></li>
									<li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
									<li><a href="#">BUILD YOUR OWN</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
						<ul>
							<li>
								<a href="wishlist.html">Wishlist</a>
							</li>
							<li>
								<a href="cart.html">Shopping Cart</a>
							</li>
							<li>
								<a href="checkout.html">Checkout</a>
							</li>
							<li>
								<a href="dashboard.html">Dashboard</a>
							</li>
							<li>
								<a href="login.html">Login</a>
							</li>
							<li>
								<a href="forgot-password.html">Forgot Password</a>
							</li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a></li>
					<li>
						<a href="#">Elements</a>
						<ul class="custom-scrollbar">
							<li><a href="element-accordions.html">Accordion</a></li>
							<li><a href="element-alerts.html">Alerts</a></li>
							<li><a href="element-animations.html">Animations</a></li>
							<li><a href="element-banners.html">Banners</a></li>
							<li><a href="element-buttons.html">Buttons</a></li>
							<li><a href="element-call-to-action.html">Call to Action</a></li>
							<li><a href="element-countdown.html">Count Down</a></li>
							<li><a href="element-counters.html">Counters</a></li>
							<li><a href="element-headings.html">Headings</a></li>
							<li><a href="element-icons.html">Icons</a></li>
							<li><a href="element-info-box.html">Info box</a></li>
							<li><a href="element-posts.html">Posts</a></li>
							<li><a href="element-products.html">Products</a></li>
							<li><a href="element-product-categories.html">Product Categories</a></li>
							<li><a href="element-tabs.html">Tabs</a></li>
							<li><a href="element-testimonial.html">Testimonials</a></li>
						</ul>
					</li>
				</ul>

				<ul class="mobile-menu mt-2 mb-2">
					<li class="border-0">
						<a href="#">
							Special Offer!
						</a>
					</li>
					<li class="border-0">
						<a href="#" target="_blank">
							Buy Porto!
							<span class="tip tip-hot">Hot</span>
						</a>
					</li>
				</ul>

				<ul class="mobile-menu">
					<li><a href="login.html">My Account</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="wishlist.html">My Wishlist</a></li>
					<li><a href="cart.html">Cart</a></li>
					<li><a href="login.html" class="login-link">Log In</a></li>
				</ul>
			</nav><!-- End .mobile-nav -->

			<form class="search-wrapper mb-2" action="#">
				<input type="text" class="form-control mb-0" placeholder="Search..." required />
				<button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
			</form>

			<div class="social-icons">
				<a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
				</a>
				<a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
				</a>
				<a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
				</a>
			</div>
		</div><!-- End .mobile-menu-wrapper -->
	</div><!-- End .mobile-menu-container -->

	<div class="sticky-navbar">
		<div class="sticky-info">
			<a href="demo4.html">
				<i class="icon-home"></i>Home
			</a>
		</div>
		<div class="sticky-info">
			<a href="category.html" class="">
				<i class="icon-bars"></i>Categories
			</a>
		</div>
		<div class="sticky-info">
			<a href="wishlist.html" class="">
				<i class="icon-wishlist-2"></i>Wishlist
			</a>
		</div>
		<div class="sticky-info">
			<a href="login.html" class="">
				<i class="icon-user-2"></i>Account
			</a>
		</div>
		<div class="sticky-info">
			<a href="cart.html" class="">
				<i class="icon-shopping-cart position-relative">
					<span class="cart-count badge-circle">3</span>
				</i>Cart
			</a>
		</div>
	</div>



	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="~/assets/js/main.min.js"></script>
	@section Scripts {
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>

			function Remove(saveProID) {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: "btn btn-success",
						cancelButton: "btn btn-danger"
					},
					buttonsStyling: false
				});
				swalWithBootstrapButtons.fire({
					title: "Are you sure?",
					text: "You won't be able to revert this!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonText: "Yes, delete it!",
					cancelButtonText: "No, cancel!",
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							type: "POST",
							url: '@Url.Page("/Index", null, new { handler = "RemoveCart" })', // Đúng URL với handler RemoveCart
							beforeSend: function (xhr) {
								xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
							},
							data: {
								saveProID: saveProID  // Truyền giá trị đúng của saveProID
							},
							dataType: "json",
							success: function (data) {
								if (data.success) {
									swalWithBootstrapButtons.fire({
										title: "Deleted!",
										text: "Your file has been deleted.",
										icon: "success"
									});
									$('#row-' + saveProID).remove();
									//	swal("Deleted!", "The item has been deleted.", "success");
								}
							},
							error: function (error) {
								console.error("Error occurred:", error);
								///swal("Error", "An error occurred while deleting the item.", "error");
							}
						});
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire({
							title: "Cancelled",
							text: "Your imaginary file is safe :)",
							icon: "error"
						});
					}
				});
			}



			function AddPluts(proid) {
				$.ajax({
					type: "POST",
					url: '@Url.Page("/Index", null, new { handler = "AddPluts" })',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
					},
					data: {
						saveProID: proid
					},
					dataType: "json",
					success: function (data) {
						if (data.success) {
							GetTotalPrice();
							console.log(data.message);
							$("#quanitu-" + proid).val(data.quantity);
							$("#subprice-" + proid).text("$" + data.subprice1);
						} else {
							alert("loi");
						}
					},
					error: function (error) {
						console.error("Error occurred:", error);
					}
				});
			}
				function OnPostAddMinus(proid) {
					$.ajax({
						type: "POST",
					url: '@Url.Page("/Index", null, new { handler = "AddMinus" })',
						beforeSend: function (xhr) {
							xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
						},
						data: {
							saveProID: proid
						},
						dataType: "json",
						success: function (data) {
							if (data.success) {
							GetTotalPrice()
							$("#quanitu-"+proid).val(data.quantity);
							$("#subprice-"+proid).text("$" + data.subprice1);
							}
						},
						error: function (error) {
							console.error("Error occurred:", error);
						}
					});
			}

			function AutocheckQuan(Proid) {
				$.ajax({
					type: "POST",
					url: '@Url.Page("/Index", null, new { handler = "Autocheck" })',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
					},
					data: {
						saveProID: Proid
					},
					dataType: "json",
					success: function (data) {
						if (data.success) {
							GetTotalPrice()
							OnPostAddMinus(Proid);
						} else {
							const swalWithBootstrapButtons = Swal.mixin({
								customClass: {
									confirmButton: "btn btn-success",
									cancelButton: "btn btn-danger"
								},
								buttonsStyling: false
							});
							swalWithBootstrapButtons.fire({
								title: "Are you sure?",
								text: "You won't be able to revert this!",
								icon: "warning",
								showCancelButton: true,
								confirmButtonText: "Yes, delete it!",
								cancelButtonText: "No, cancel!",
								reverseButtons: true
							}).then((result) => {
								if (result.isConfirmed) {
									swalWithBootstrapButtons.fire({
										title: "Deleted!",
										text: "Your file has been deleted.",
										icon: "success"
									});
									OnPostAddMinus(Proid);
									$('#row-' + Proid).remove();
								} else if (
									/* Read more about handling dismissals below */
									result.dismiss === Swal.DismissReason.cancel
								) {
									swalWithBootstrapButtons.fire({
										title: "Cancelled",
										text: "Your imaginary file is safe :)",
										icon: "error"
									});
								}
							});

						}
					},
					error: function (error) {
						console.error("Error occurred:", error);
					}
				});
			}
			function GetTotalPrice() {
				$.ajax({
					type: "POST",
					url: '@Url.Page("/Index", null, new { handler = "GetTotalPrice" })',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
					},
					data: {
						saveProID: ""
					},
					dataType: "json",
					success: function (data) {
						if (data.success) {
							console.log(data.total);
							$("#totals").text(`$${data.total}`);
							$("#totals1").text(`$${data.total}`);
						} else {
							alert("loi");
						}
					},
					error: function (error) {
						console.error("Error occurred:", error);
					}
				});
			}

		</script>
	}
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:22 GMT -->
</html>