@page "{id?}"
@model StoreMMO.Web.Pages.Home.StoredetailModel
@{
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/product-addcart-sticky.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:36 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/images/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = '~/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
    <div class="page-wrapper">
        <div class="top-notice bg-primary text-white">
            <div class="container text-center">
                <h5 class="d-inline-block">Get Up to <b>40% OFF</b> New-Season Styles</h5>
                <a href="category.html" class="category">MEN</a>
                <a href="category.html" class="category ml-2 mr-3">WOMEN</a>
                <small>* Limited time only.</small>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .top-notice -->
        <!-- End .header -->

        <main class="main">
            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                    </ol>
                </nav>

                @foreach (var item in Model.ListDetail)
                {
                    <div class="product-single-container product-single-default">
                        <div id="cart-message" class="cart-message d-none">
                            <strong class="single-cart-notice">“@item.StoreName”</strong>
                            <span>has been added to your cart.</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-6 product-single-gallery">
                                <div class="product-slider-container">
                                    <div class="label-group">
                                        <div class="product-label label-hot">HOT</div>
                                    </div>

                                    <div class="product-single-carousel owl-carousel owl-them">
                                        <div class="product-item">
                                            <img class="product-single-image"
                                                 src="@item.StoreImg" height="468"
                                                 alt="product" />
                                        </div>

                                    </div>
                                    <!-- End .product-single-carousel -->
                                    <!-- <span class="prod-full-screen">
                                        <i class="icon-plus"></i>
                                    </span> -->
                                </div>

                                <!-- <div class="prod-thumbnail owl-dots">
                                    <div class="owl-dot">
                                        <img src="assets/images/products/zoom/product-1.jpg" width="110" height="110"
                                            alt="product-thumbnail" />
                                    </div>
                                    <div class="owl-dot">
                                        <img src="assets/images/products/zoom/product-2.jpg" width="110" height="110"
                                            alt="product-thumbnail" />
                                    </div>
                                    <div class="owl-dot">
                                        <img src="assets/images/products/zoom/product-3.jpg" width="110" height="110"
                                            alt="product-thumbnail" />
                                    </div>
                                    <div class="owl-dot">
                                        <img src="assets/images/products/zoom/product-4.jpg" width="110" height="110"
                                            alt="product-thumbnail" />
                                    </div>
                                    <div class="owl-dot">
                                        <img src="assets/images/products/zoom/product-5.jpg" width="110" height="110"
                                            alt="product-thumbnail" />
                                    </div>
                                </div> -->
                            </div>
                            <!-- End .product-single-gallery -->

                            <div class="col-lg-7 col-md-6 product-single-details">
                                <h1 class="product-title">@item.StoreName</h1>

                                <div class="product-nav">
                                    <div class="product-prev">
                                        <a href="#">
                                            <span class="product-link"></span>

                                            <span class="product-popup">
                                                <span class="box-content">
                                                    <img alt="product" width="150" height="150"
                                                         src="assets/images/products/product-3.jpg"
                                                         style="padding-top: 0px;">

                                                    <span>Circled Ultimate 3D Speaker</span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="product-next">
                                        <a href="#">
                                            <span class="product-link"></span>

                                            <span class="product-popup">
                                                <span class="box-content">
                                                    <img alt="product" width="150" height="150"
                                                         src="assets/images/products/product-4.jpg"
                                                         style="padding-top: 0px;">

                                                    <span>Blue Backpack for the Young</span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:60%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->

                                    <a href="#" class="rating-link">( 6 Reviews )</a>
                                </div>
                                <!-- End .ratings-container -->
                                @*  <hr class="divider mb-0 mt-0"> *@

                                <!-- <div class="price-box">
                                    <span class="old-price">$1,999.00</span>
                                    <span class="new-price">$1,699.00</span>
                                </div> -->
                                <!-- End .price-box -->

                                <div class="product-desc">
                                    <p>
                                        @item.ShortDescription
                                    </p>


                                </div>
                                @*    <hr class="divider mb-0 mt-0"> *@
                                <!-- End .product-desc -->

                                <ul class="single-info-list">
                                    <!---->
                                    <li>
                                        <b>Seller:</b>
                                        <a asp-page="/home/viewaccountdetail" asp-route-OwnerUserName="@item.OwnerUserName"><strong>@item.OwnerUserName</strong></a>
                                    </li>

                                    <li>
                                        CATEGORY:
                                        <strong>
                                            <a href="#" class="product-category">@item.CategoryName</a>
                                        </strong>
                                    </li>

                                    <li>
                                        Quality:
                                        <strong id="product-quality" class="product-quality">@Model.DefauStock</strong>
                                        <!-- <strong><a href="#" class="product-category">SWEATER</a></strong> -->
                                    </li>
                                </ul>

                                <div class="product-filters-container">
                                    <div class="product-single-filter">
                                        <label>Price:</label>
                                        <span id="new-price" class="new-price">@Model.DefauPrice</span>
                                    </div>
                                    <input type="text" hidden id="defauProid" value="@TempData["defauProid"]" />
                                    <div class="product-single-filter">
                                        <label>Product:</label>
                                        <ul class="config-size-list">
                                            @{
                                                var index = 0;
                                                bool flags = false;
                                            }

                                            @foreach (var product in item.ProductStock)
                                            {
                                                if (TempData["defauUSerid"] != "")
                                                {
                                                    if(index == 0)
                                                    {
                                                        var userid = TempData["defauUSerid"].ToString();
                                                         flags = Model.wishnew != null && Model.wishnew.Any(u => u.UserId == userid.Split("$")[1] && u.ProductId == product.Value);

                                                    }
                                                   
                                                }
                                                <li class="@(index == 0 ? "active" : "")">
                                                    <a href="javascript:;" onclick="getProduct('@product.Value')"
                                                       class="d-flex align-items-center justify-content-center">
                                                        @product.Key
                                                    </a>

                                                </li>
                                                index++;
                                            }
                                            @* <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Large</a></li>
                                        <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Medium</a></li>
                                        <li class=""><a href="javascript:;" class="d-flex align-items-center justify-content-center">Small</a></li> *@
                                        </ul>
                                    </div>

                                    <div class="product-single-filter">
                                        <label></label>
                                        @*    <a class="font1 text-uppercase clear-btn" href="#">Clear</a> *@
                                    </div>
                                    <!---->
                                </div>

                                <div class="sticky-header" data-sticky-options="{'mobile': false}">
                                    <div class="container">
                                        <div class="sticky-img mr-4">
                                            <img src="assets/images/products/zoom/product-1.jpg" width="50" height="50"
                                                 alt="product" />
                                        </div>
                                        <div class="sticky-detail">
                                            <div class="sticky-product-name">
                                                <h3 class="product-title w-100 ls-0">Men Black Sports Shoes</h3>
                                                <div class="price-box">
                                                    <span class="old-price">$81.00</span>
                                                    <span class="product-price">$101.00</span>
                                                </div>
                                                <!-- End .price-box -->
                                            </div>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <!-- End .ratings -->
                                                </div>
                                                <!-- End .product-ratings -->

                                                <a href="#" class="rating-link">In stock</a>
                                            </div>
                                            <!-- End .product-container -->
                                        </div>
                                        <!-- End .sticky-detail -->
                                       @*  <button onclick="sendAja()">Send AJAX</button> *@

                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                 

                                        <!-- AntiForgeryToken input (make sure this is in the HTML) -->
                                     
                                        <div class="product-action d-none">
                                            <div class="product-single-qty">
                                                <input class="horizontal-quantity form-control" type="text">
                                            </div>
                                            <!-- End .product-single-qty -->
                                        
                                            <a href="" onclick="addCart()" class="btn btn-dark add-cart icon-shopping-cart"
                                               title="Add to Cart">Add to Cart</a>
                                        </div>
                                        <!-- End .product-action -->
                                    </div>
                                    <!-- end .container -->
                                </div>
                                <!-- end .sticky-header -->

                                <div class="product-action">
                                    @*   <div class="price-box product-filtered-price">
                                <del class="old-price"><span>$286.00</span></del> <span class="product-price">$245.00</span>
                                </div>
                                *@
                                    <!-- End .product-single-qty -->
                                   
                                    <div class="product-single-qty">
                                        <input class="horizontal-quantity form-control" name="quantity" type="text" id="quantity">
                                        <input  type="text" hidden id="temID" value="10" name="Proid"/>
                                    </div>
                                    @* <form method="post" >
                                        <button>Buy Now</button>
                                    </form> *@
                                    <button onclick="byuys()"  >Buy Nosssssssw</button>

                                    

                                    <a href="javascript:;" onclick="sendAja()" type="submit" id="cartid" class="btn btn-gray add-cart mr-2" title="Add to Cart">
                                            Add to
                                            Cart
                                        </a>

                                    <script>
                                        var saveProID = document.getElementById("defauProid").value;
                                        $("#temID").val(saveProID);
                                        var quan = document.getElementById("quantity").value;
                                       
                                        function getProduct(productId) {
                                            var wihs = document.getElementById("checkwicj");
                                            var element = document.getElementById("cartid");
                                          
                                            var cartmessage = document.getElementById("cart-message");
                                            console.log("ID sản phẩm:", productId);
                                            saveProID = productId;

                                            $("#temID").val(saveProID);
                                            var send = productId + '@TempData["defauUSerid"]'
                                            console.log(send);
                                            $.ajax({
                                                type: "GET",
                                                url: 'https://localhost:7200/api/Product/'+ send,
                                                success: function (response) {
                                                    if (response.thanhdeptrai) {
                                                        wihs.className = "btn-icon-wish add-wishlist added-wishlist";
                                                        $("#spwit").text("BROWSE WISHLIST");
                                                    } else {
                                                        wihs.className = "btn-icon-wish add-wishlist";
                                                        $("#spwit").text("Add to Wishlist");
                                                    }
                                                    if (response) {
                                                        $("#new-price").text("$" + response.price);
                                                        $("#product-quality").text(response.stock);                                   
                                                        element.className = "btn btn-dark add-cart mr-2";
                                                        viewCar.className = "btn btn-gray view-cart d-none";
                                                        cartmessage.className = "cart-message d-none";
                                                        if (response.stock === "0") {
                                                            element.className = "btn btn-dark add-cart mr-2 disabled";
                                                            element.removeAttribute('onclick');
                                                        }
                                                    } else {
                                                        alert("Lỗi: Không tìm thấy sản phẩm");
                                                    }
                                                },
                                                error: function (xhr, status, error) {
                                                    alert("Lỗi khi gửi yêu cầu AJAX: " + xhr.responseText);
                                                }
                                            });
                                        }


                                  
                                        // Ensure the AntiForgeryToken is set correctly
                                        function sendAja() {
                                            var quan = document.getElementById("quantity").value;
                                            console.log("Sending data - saveProID: " + saveProID + ", quan: " + quan); // In ra để kiểm tra giá trị
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=AddToCart",
                                                beforeSend: function (xhr) {
                                                    // Set the XSRF token in the request header
                                                    xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
                                                },
                                                data: {
                                                    quan: quan,
                                                    saveProID: saveProID,
                                                },
                                                dataType: "json",
                                                success: function (data) {
                                                    if(data.success){
                                                        console.log(data.message);
                                                    }
                                                 
                                                },
                                                error: function (error) {
                                                    console.error("Error occurred:", error);
                                                }
                                            });
                                        }

                                        function skad() {
                                            
                                          console.log("Sending data - saveProID: " + saveProID); // In ra để kiểm tra giá trị
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=AddWishList",
                                                beforeSend: function (xhr) {
                                                    // Set the XSRF token in the request header
                                                    xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
                                                },
                                                data: {
                                                    saveProID: saveProID,
                                                },
                                                dataType: "json",
                                                success: function (data) {
                                                    if (!data.login){
                                                        window.location.href = "/account/login";
                                                    }else{
                                                        if (data.success) {
                                                            console.log(data.message);
                                                        } else {
                                                            console.log(data.message);
                                                        }
                                                    }
                                                },
                                                error: function (error) {
                                                    console.error("Error occurred:", error);
                                                }
                                            });
                                        }
                                         function byuys() {
                                            var quan = document.getElementById("quantity").value;
                                            console.log("Sending data - saveProID: " + saveProID + ", quan: " + quan); // In ra để kiểm tra giá trị
                                            $.ajax({
                                                type: "POST",
                                                url: "/Index?handler=GetbuyOne",
                                                beforeSend: function (xhr) {
                                                    // Set the XSRF token in the request header
                                                    xhr.setRequestHeader("XSRF-TOKEN", $('input[name="__RequestVerificationToken"]').val());
                                                },
                                                data: {
                                                    quan: quan,
                                                    saveProID: saveProID,
                                                },
                                                dataType: "json",
                                                success: function (data) {
                                                    if(data.success){
                                                        console.log(data.message);
                                                        window.location.href = "/purchase/checkout";
                                                    }else{
                                                        alert("Loi");
                                                    }
                                                 
                                                },
                                                error: function (error) {
                                                    console.error("Error occurred:", error);
                                                }
                                            });
                                        }
                                        
                                    </script>

                                    <!-- AntiForgeryToken input (make sure this is in the HTML) -->
                                    @Html.AntiForgeryToken()




                                    <a href="/cart/view" id="viewCar" class="btn btn-gray view-cart d-none">View cart</a>
                                </div>
                                <!-- End .product-action -->

                                <hr class="divider mb-0 mt-0">

                                <div class="product-single-share mb-2">
                                    <label class="sr-only">Share:</label>

                                    <div class="social-icons mr-2">
                                        <a href="#" class="social-icon social-facebook icon-facebook" target="_blank"
                                           title="Facebook"></a>
                                        <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"
                                           title="Twitter"></a>
                                        <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank"
                                           title="Linkedin"></a>
                                        <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank"
                                           title="Google +"></a>
                                        <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank"
                                           title="Mail"></a>
                                    </div>
                                    <!-- End .social-icons -->

                                    @{
                                        if (flags)
                                        {
                                            <a href="/wishlist/view" class="btn-icon-wish add-wishlist added-wishlist" id="checkwicj" onclick="skad()" title="Add to Wishlist">
                                                <i class="icon-wishlist-2"></i>
                                                <span id="spwit">
                                                    BROWSE WISHLIST
                                                </span>
                                            </a>
                                        }else{
                                             <a href="/wishlist/view" class="btn-icon-wish add-wishlist" id="checkwicj" onclick="skad()" title="Add to Wishlist">
                                                <i class="icon-wishlist-2"></i><span id="spwit">
                                            Add to
                                            Wishlist
                                        </span>
                                    </a>
                                        }
                                    }
                                   
                                
                                </div>
                                <!-- End .product single-share -->
                            </div>
                            <!-- End .product-single-details -->
                        </div>
                        <!-- End .row -->
                    </div>
                }

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
               




                <!-- End .product-single-container -->

                <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-size" data-toggle="tab" href="#product-size-content" role="tab" aria-controls="product-size-content" aria-selected="true">Size Guide</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">
                                Additional
                                Information
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews (1)</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud ipsum consectetur sed do, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                                </p>
                                <ul>
                                    <li>
                                        Any Product types that You want - Simple, Configurable
                                    </li>
                                    <li>
                                        Downloadable/Digital Products, Virtual Products
                                    </li>
                                    <li>
                                        Inventory Management with Backordered items
                                    </li>
                                </ul>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-size-content" role="tabpanel" aria-labelledby="product-tab-size">
                            <div class="product-size-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="~/assets/images/products/single/body-shape.png" alt="body shape" width="217" height="398">
                                    </div>
                                    <!-- End .col-md-4 -->

                                    <div class="col-md-8">
                                        <table class="table table-size">
                                            <thead>
                                                <tr>
                                                    <th>SIZE</th>
                                                    <th>CHEST (in.)</th>
                                                    <th>WAIST (in.)</th>
                                                    <th>HIPS (in.)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>XS</td>
                                                    <td>34-36</td>
                                                    <td>27-29</td>
                                                    <td>34.5-36.5</td>
                                                </tr>
                                                <tr>
                                                    <td>S</td>
                                                    <td>36-38</td>
                                                    <td>29-31</td>
                                                    <td>36.5-38.5</td>
                                                </tr>
                                                <tr>
                                                    <td>M</td>
                                                    <td>38-40</td>
                                                    <td>31-33</td>
                                                    <td>38.5-40.5</td>
                                                </tr>
                                                <tr>
                                                    <td>L</td>
                                                    <td>40-42</td>
                                                    <td>33-36</td>
                                                    <td>40.5-43.5</td>
                                                </tr>
                                                <tr>
                                                    <td>XL</td>
                                                    <td>42-45</td>
                                                    <td>36-40</td>
                                                    <td>43.5-47.5</td>
                                                </tr>
                                                <tr>
                                                    <td>XLL</td>
                                                    <td>45-48</td>
                                                    <td>40-44</td>
                                                    <td>47.5-51.5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .product-size-content -->
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                            <table class="table table-striped mt-2">
                                <tbody>
                                    <tr>
                                        <th>Weight</th>
                                        <td>23 kg</td>
                                    </tr>

                                    <tr>
                                        <th>Dimensions</th>
                                        <td>12 × 24 × 35 cm</td>
                                    </tr>

                                    <tr>
                                        <th>Color</th>
                                        <td>Black, Green, Indigo</td>
                                    </tr>

                                    <tr>
                                        <th>Size</th>
                                        <td>Large, Medium, Small</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End .tab-pane -->

                        <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
                            <div class="product-reviews-content">
                                <h3 class="reviews-title">1 review for Men Black Sports Shoes</h3>

                                <div class="comment-list">
                                    <div class="comments">
                                        <figure class="img-thumbnail">
                                            <img src="~/assets/images/blog/author.jpg" alt="author" width="80" height="80">
                                        </figure>

                                        <div class="comment-block">
                                            <div class="comment-header">
                                                <div class="comment-arrow"></div>

                                                <div class="ratings-container float-sm-right">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:60%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <!-- End .product-ratings -->
                                                </div>

                                                <span class="comment-by">
                                                    <strong>Joe Doe</strong> – April 12, 2018
                                                </span>
                                            </div>

                                            <div class="comment-content">
                                                <p>Excellent.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider"></div>

                                <div class="add-product-review">
                                    <h3 class="review-title">Add a review</h3>

                                    <form action="#" class="comment-form m-0">
                                        <div class="rating-form">
                                            <label for="rating">Your rating <span class="required">*</span></label>
                                            <span class="rating-stars">
                                                <a class="star-1" href="#">1</a>
                                                <a class="star-2" href="#">2</a>
                                                <a class="star-3" href="#">3</a>
                                                <a class="star-4" href="#">4</a>
                                                <a class="star-5" href="#">5</a>
                                            </span>

                                            <select name="rating" id="rating" required="" style="display: none;">
                                                <option value="">Rate…</option>
                                                <option value="5">Perfect</option>
                                                <option value="4">Good</option>
                                                <option value="3">Average</option>
                                                <option value="2">Not that bad</option>
                                                <option value="1">Very poor</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Your review <span class="required">*</span></label>
                                            <textarea cols="5" rows="6" class="form-control form-control-sm"></textarea>
                                        </div>
                                        <!-- End .form-group -->


                                        <div class="row">
                                            <div class="col-md-6 col-xl-12">
                                                <div class="form-group">
                                                    <label>Name <span class="required">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" required>
                                                </div>
                                                <!-- End .form-group -->
                                            </div>

                                            <div class="col-md-6 col-xl-12">
                                                <div class="form-group">
                                                    <label>Email <span class="required">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" required>
                                                </div>
                                                <!-- End .form-group -->
                                            </div>

                                            <div class="col-md-12">
                                                <div class=" custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="save-name" />
                                                    <label class="custom-control-label mb-0" for="save-name">
                                                        Save my
                                                        name, email, and website in this browser for the next time I
                                                        comment.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" class="btn btn-primary" value="Submit">
                                    </form>
                                </div>
                                <!-- End .add-product-review -->
                            </div>
                            <!-- End .product-reviews-content -->
                        </div>
                        <!-- End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .product-single-tabs -->

                <div class="products-section pt-0">
                    <h2 class="section-title">Related Products</h2>

                    <div class="products-slider owl-carousel owl-theme dots-top dots-small">
                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/product-1.jpg" width="280" height="280" alt="product">
                                    <img src="~/assets/images/products/product-1-2.jpg" width="280" height="280" alt="product">
                                </a>
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Category</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="product.html">Ultimate 3D Bluetooth Speaker</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">$59.00</del>
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                    <a href="product.html" class="btn-icon btn-add-cart">
                                        <i class="fa fa-arrow-right"></i><span>
                                            SELECT
                                            OPTIONS
                                        </span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/product-3.jpg" width="280" height="280" alt="product">
                                    <img src="~/assets/images/products/product-3-2.jpg" width="280" height="280" alt="product">
                                </a>
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Category</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="product.html">Circled Ultimate 3D Speaker</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">$59.00</del>
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                    <a href="product.html" class="btn-icon btn-add-cart">
                                        <i class="fa fa-arrow-right"></i><span>
                                            SELECT
                                            OPTIONS
                                        </span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/product-7.jpg" width="280" height="280" alt="product">
                                    <img src="~/assets/images/products/product-7-2.jpg" width="280" height="280" alt="product">
                                </a>
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Category</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="product.html">Brown-Black Men Casual Glasses</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">$59.00</del>
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                    <a href="product.html" class="btn-icon btn-add-cart">
                                        <i class="fa fa-arrow-right"></i><span>
                                            SELECT
                                            OPTIONS
                                        </span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/product-6.jpg" width="280" height="280" alt="product">
                                    <img src="~/assets/images/products/product-6-2.jpg" width="280" height="280" alt="product">
                                </a>
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Category</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="product.html">Men Black Gentle Belt</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">$59.00</del>
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                    <a href="product.html" class="btn-icon btn-add-cart">
                                        <i class="fa fa-arrow-right"></i><span>
                                            SELECT
                                            OPTIONS
                                        </span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/product-4.jpg" width="280" height="280" alt="product">
                                    <img src="~/assets/images/products/product-4-2.jpg" width="280" height="280" alt="product">
                                </a>
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="category.html" class="product-category">Category</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="product.html">Blue Backpack for the Young - S</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">$59.00</del>
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="wishlist.html" title="Wishlist" class="btn-icon-wish">
                                        <i class="icon-heart"></i>
                                    </a>
                                    <a href="product.html" class="btn-icon btn-add-cart">
                                        <i class="fa fa-arrow-right"></i><span>
                                            SELECT
                                            OPTIONS
                                        </span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>
                    <!-- End .products-slider -->
                </div>
                <!-- End .products-section -->

                <hr class="mt-0 m-b-5" />

                <div class="product-widgets-container row pb-2">
                    <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                        <h4 class="section-sub-title">Featured Products</h4>
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-1.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-1-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title">
                                    <a href="product.html">Ultimate 3D Bluetooth Speaker</a>
                                </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-2.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-2-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Brown Women Casual HandBag</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-3.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-3-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Circled Ultimate 3D Speaker</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                        <h4 class="section-sub-title">Best Selling Products</h4>
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-4.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-4-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title">
                                    <a href="product.html">Blue Backpack for the Young - S</a>
                                </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-5.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-5-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Casual Spring Blue Shoes</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-6.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-6-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Men Black Gentle Belt</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                        <h4 class="section-sub-title">Latest Products</h4>
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-7.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-7-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title">
                                    <a href="product.html">Brown-Black Men Casual Glasses</a>
                                </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-8.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-8-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title">
                                    <a href="product.html">Brown-Black Men Casual Glasses</a>
                                </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-9.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-9-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Black Men Casual Glasses</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                        <h4 class="section-sub-title">Top Rated Products</h4>
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-10.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-10-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Basketball Sports Blue Shoes</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-11.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-11-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Men Sports Travel Bag</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>

                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="product.html">
                                    <img src="~/assets/images/products/small/product-12.jpg" width="74" height="74" alt="product">
                                    <img src="~/assets/images/products/small/product-12-2.jpg" width="74" height="74" alt="product">
                                </a>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title"> <a href="product.html">Brown HandBag</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="demo4.html">Home</a></li>
                    <li>
                        <a href="category.html">Categories</a>
                        <ul>
                            <li><a href="category.html">Full Width Banner</a></li>
                            <li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
                            <li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
                            <li><a href="category-sidebar-left.html">Left Sidebar</a></li>
                            <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
                            <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
                            <li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
                            <li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
                            <li><a href="#">List Types</a></li>
                            <li>
                                <a href="category-infinite-scroll.html">
                                    Ajax Infinite Scroll<span class="tip tip-new">New</span>
                                </a>
                            </li>
                            <li><a href="category.html">3 Columns Products</a></li>
                            <li><a href="category-4col.html">4 Columns Products</a></li>
                            <li><a href="category-5col.html">5 Columns Products</a></li>
                            <li><a href="category-6col.html">6 Columns Products</a></li>
                            <li><a href="category-7col.html">7 Columns Products</a></li>
                            <li><a href="category-8col.html">8 Columns Products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html">Products</a>
                        <ul>
                            <li>
                                <a href="#" class="nolink">PRODUCT PAGES</a>
                                <ul>
                                    <li><a href="product.html">SIMPLE PRODUCT</a></li>
                                    <li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
                                    <li><a href="product.html">SALE PRODUCT</a></li>
                                    <li><a href="product.html">FEATURED & ON SALE</a></li>
                                    <li><a href="product-sticky-info.html">WIDTH CUSTOM TAB</a></li>
                                    <li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
                                    <li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
                                    <li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nolink">PRODUCT LAYOUTS</a>
                                <ul>
                                    <li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
                                    <li><a href="product-grid-layout.html">GRID IMAGE</a></li>
                                    <li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
                                    <li><a href="product-sticky-info.html">STICKY INFO</a></li>
                                    <li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
                                    <li><a href="product-transparent-image.html">TRANSPARENT IMAGE</a></li>
                                    <li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
                                    <li><a href="#">BUILD YOUR OWN</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li>
                                <a href="wishlist.html">Wishlist</a>
                            </li>
                            <li>
                                <a href="cart.html">Shopping Cart</a>
                            </li>
                            <li>
                                <a href="checkout.html">Checkout</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="forgot-password.html">Forgot Password</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>
                        <a href="#">Elements</a>
                        <ul class="custom-scrollbar">
                            <li><a href="element-accordions.html">Accordion</a></li>
                            <li><a href="element-alerts.html">Alerts</a></li>
                            <li><a href="element-animations.html">Animations</a></li>
                            <li><a href="element-banners.html">Banners</a></li>
                            <li><a href="element-buttons.html">Buttons</a></li>
                            <li><a href="element-call-to-action.html">Call to Action</a></li>
                            <li><a href="element-countdown.html">Count Down</a></li>
                            <li><a href="element-counters.html">Counters</a></li>
                            <li><a href="element-headings.html">Headings</a></li>
                            <li><a href="element-icons.html">Icons</a></li>
                            <li><a href="element-info-box.html">Info box</a></li>
                            <li><a href="element-posts.html">Posts</a></li>
                            <li><a href="element-products.html">Products</a></li>
                            <li><a href="element-product-categories.html">Product Categories</a></li>
                            <li><a href="element-tabs.html">Tabs</a></li>
                            <li><a href="element-testimonial.html">Testimonials</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="mobile-menu mt-2 mb-2">
                    <li class="border-0">
                        <a href="#">
                            Special Offer!
                        </a>
                    </li>
                    <li class="border-0">
                        <a href="https://1.envato.market/DdLk5" target="_blank">
                            Buy Porto!
                            <span class="tip tip-hot">Hot</span>
                        </a>
                    </li>
                </ul>

                <ul class="mobile-menu">
                    <li><a href="dashboard.html">My Account</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="wishlist.html">My Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="login.html" class="login-link">Log In</a></li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" action="#">
                <input type="text" class="form-control mb-0" placeholder="Search..." required />
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a href="demo4.html">
                <i class="icon-home"></i>Home
            </a>
        </div>
        <div class="sticky-info">
            <a href="category.html" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="wishlist.html" class="">
                <i class="icon-wishlist-2"></i>Wishlist
            </a>
        </div>
        <div class="sticky-info">
            <a href="my-account.html" class="">
                <i class="icon-user-2"></i>Account
            </a>
        </div>
        <div class="sticky-info">
            <a href="cart.html" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Cart
            </a>
        </div>
    </div>



    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.min.js"></script>
</body>


<!-- Mirrored from www.portotheme.com/html/porto_ecommerce/product-addcart-sticky.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Sep 2024 11:14:36 GMT -->
</html>