@page "{OwnerUserName?}"
@model StoreMMO.Web.Pages.Home.ViewAccountDetailModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Account Details</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/images/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">

    <style>
        /* Custom styles to center and resize the form */
        .account-container {
            max-width: 500px; /* Adjust the width */
            margin: 0 auto; /* Center horizontally */
            padding: 2rem;
        }
    </style>
</head>

<body>
    <partial name="_Header" />
    <div class="account-container">
        <div class="tab-pane show active" id="edit" role="tabpanel">
            <h3 class="account-sub-title text-center mt-0 pt-1">
                <i class="icon-user-2 align-middle mr-3 pr-1"></i>Account Details
            </h3>
            <div class="account-content">
                <form action="#">
                    <div class="form-group">
                        <label for="acc-name">Account</label>
                        <input type="text" class="form-control" id="acc-name" name="acc-name" value="@Model.infoSeller.username" readonly />
                    </div>
                    <div class="form-group mb-2">
                        <label for="acc-date">Registered Date</label>
                        <input type="date" class="form-control" id="acc-date" name="acc-date" value="@Model.infoSeller.join.Value.ToString("yyyy-MM-dd")" readonly />

                    </div>
                    <div class="form-group mb-2">
                        <label for="acc-purchased">Products Purchased</label>
                        <input type="text" class="form-control" id="acc-purchased" name="acc-purchased" value="@Model.infoSeller.totalBuy" readonly />
                    </div>
                    <div class="form-group mb-2">
                        <label for="acc-store">Number Of Stores</label>
                        <input type="text" class="form-control" id="acc-store" name="acc-store" value="@Model.infoSeller.totalStore" readonly />
                    </div>
                    <div class="form-group mb-2">
                        <label for="acc-sold">Products Sold</label>
                        <input type="text" class="form-control" id="acc-sold" name="acc-sold" value="@Model.infoSeller.totalSol" readonly />
                    </div>
                    @* <div class="form-group d-flex w-100 mt-2">
                        <a href="/Home/ViewAllStore?username=@Model.infoSeller.username" class="btn btn-dark w-50 mr-2">View All Stores</a>
                        <a href="" class="btn btn-dark w-50">Back To Product</a>
                    </div> *@
                </form>
            </div>
        </div>
    </div>


    <partial name="_Footer" />

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/main.min.js"></script>
</body>

</html>
